.ripple {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-left: @horizontal-space;
  padding-right: @horizontal-space;
  transition-timing-function: ease-in-out;
  transition-property: left;
  transition-duration: 0.3s;
  .@{newAppName}-button.@{newAppName}-space-horizontal05 &{
    width: calc(100% + @horizontal-space);
    left: -1 * @horizontal-space*0.5;
  }
  .@{newAppName}-button.@{newAppName}-space-horizontal &{
    width: calc(100% + @horizontal-space*2);
    left: -1 * @horizontal-space;
  }
  .radio-button &,
  .cheсkbox &,
  .switch-container &{
    width: 50px;
    height: 50px;
    position: absolute;
    left: -6px;
    top: -15px;
    border-radius: 50%;
    z-index: 2;
    padding-left: 0;
    padding-right: 0;
  }
  .switch-container & {
    left: -20px;
  }
  .button & {
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 4px;

  }
  &-wave {
    position: absolute;
    z-index: 1;
    pointer-events: none;
    background: currentColor;
    border-radius: 50%;
    opacity: 0;
    width: 10px;
    height: 10px;
    background-color: #fff;
    transform: scale(2) translateZ(0);
    transition-timing-function: cubic-bezier(1,.22,.9,.65);
    transition-property: width, height, margin;
    transition-duration: 0.3s;
    animation: 0.4s showRipple linear;
    .radio-button &,
    .cheсkbox &,
    .switch-container &{
      width: 1px;
      height: 1px;
      background-color: @b2c-purple-low;
      top: 25px !important;
      left: 25px !important;
      transition-duration: 0.4s;
      transition-timing-function: cubic-bezier(.11,.34,.97,.33);
    }

    .white-wave & {
      background-color: #fff;
    }
  }
}

@keyframes showRipple {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.26;
  }
  100% {
    opacity: 0;
  }

}
