.rt-tab{
  &-nav{
    display: flex;
  }
  &-header{
    height: 60px;
    flex-direction: row;

    &__item{
      display: flex;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &--active{
        border-bottom: 2px solid;
      }

      &+&{
        @media (min-width: @mobile-step-size) {
          margin-left: @horizontal-space*2;
        }
      }
    }
  }

}

