@font-face {
    font-family: "BasisGrotesquePro-Regular";
    src: url("BasisGrotesquePro-Regular.eot");
    src: url("BasisGrotesquePro-Regular.eot?#iefix") format("embedded-opentype"),
         url("BasisGrotesquePro-Regular.woff2") format("woff2"),
         url("BasisGrotesquePro-Regular.woff") format("woff"),
         url("BasisGrotesquePro-Regular.ttf") format("ttf"),
         url("BasisGrotesquePro-Regular.svg#BasisGrotesquePro-Regular") format("svg");
    font-style: normal;
    font-weight: 300;
}