.rt-game-arrows
  margin-left auto
  margin-right auto
  position absolute
  cursor: pointer
  bottom 35px
  left 0
  right 0
  z-index 10
  animation-name bottomArrow
  animation-duration inherit
  animation-duration 4s
  animation-timing-function linear
  animation-iteration-count infinite


@keyframes bottomArrow
  0%
    bottom 35px

  25%
    bottom 25px

  50%
    bottom 35px

  75%
    bottom 45px

  100%
    bottom 35px
