# Jet Brains IDE directory
.idea/
.vscode/

# Node modules directory
node_modules/

# Sass cache directory
.sass-cache/

# Compiled output
tmp/
# dist/
server/
# e2e
e2e/*.js
e2e/*.map

# Log files
*.err
*.log

# OSX Desktop Service Store files
.DS_Store

# Build files
src/assets/images/map.svg
libs/

# Test coverage
coverage
