

.pre-component{
  width: 100%;
  position: relative;
  box-shadow: 0px 0px 0px 1px transparent;
  transition-duration: 0.3s;
  transition-property: box-shadow;
  transition-timing-function: ease-in-out;

  &:hover{
    box-shadow: 0px 0px 0px 1px rgba(b2b-purple-low,0.2);
  }
  &__trigger {
    position: absolute;
    top: -30px;
    left: 15px;
    cursor: pointer;
    z-index: 10;
    opacity: 0.3;
    border-radius: 0px;
    transition-duration: 0.3s;
    transition-property: opacity, color, background-color;
    transition-timing-function: ease-in-out;

    &-icon{
      fill: b2b-purple-hight;
      width: 30px;
      height: 40px;
    }
    &:hover{
      opacity: 1;
    }
  }
}
.code-editor{
  position: fixed;
  left: 20px;
  right: 20px;
  bottom: 0;
  height: 30vh;
  min-height: 400px;
  z-index: 100;
  &__icon{

    width: 15px;
    height: 15px;
    fill: #fff;
    transition-duration: 0.3s;
    transition-property: fill;
    transition-timing-function: ease-in-out;
    .{newAppName}-dark-theme &{
      fill: b2c-purple-low;
    }
  }
  &__close{
    position: absolute;
    top: -40px;
    right: -10px;
    cursor: pointer;
    width: 30px;
    height: 30px;

    padding: 7.5px;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: b2c-purple-low;
    transition-duration: 0.3s;
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    .{newAppName}-dark-theme &{
      background-color: #fff;
    }
  }
  &__container{
    width: 100%;
    height: 100%;
  }
}

.monaco-editor .view-line {
  padding-left: 5px;
}

/* fix cursor location */
.monaco-editor .cursor {
  margin-left: 5px;
}

/* fix highlighted text selection */
.monaco-editor .selectionHighlight {
  margin-left: 5px;
}

/* fix highlighted brackets */
.monaco-editor .bracket-match {
  margin-left: 15px;
}
.monaco-editor .view-lines {
  margin-left: 5px;

}

/* fix multiline text selection */
.monaco-editor .cslr.selected-text {
  margin-left: 5px;
}

/* fix multiline text selection */
.monaco-editor .bottom-left-radius, .monaco-editor .top-left-radius {
  margin-left: 5px;
}
