.{newAppName}-element-animate-opacity
  transition-timing-function ease-in-out
  transition-duration 3s
  transition-property opacity, visibility

.{newAppName}-element-show
  opacity: 1
  visibility: visible

.{newAppName}-element-show-09
  opacity: 0.9
  visibility: visible

.{newAppName}-element-show-08
  opacity 0.8
  visibility: visible

.{newAppName}-element-show-07
  opacity 0.7
  visibility: visible

.{newAppName}-element-show-06
  opacity 0.6
  visibility: visible

.{newAppName}-element-show-05
  opacity 0.5
  visibility: visible

.{newAppName}-element-show-04
  opacity 0.4
  visibility: visible

.{newAppName}-element-show-03
  opacity 0.3
  visibility: visible

.{newAppName}-element-show-02
  opacity 0.2
  visibility: visible

.{newAppName}-element-show-01
  opacity 0.1
  visibility: visible

.{newAppName}-element-hide
  opacity: 0
  visibility: hidden

.{newAppName}-td-element-show
  @media (max-width: tablet-upper-limit)
    opacity: 1
    visibility: visible

.{newAppName}-td-element-show-09
  @media (max-width: tablet-upper-limit)
    opacity: 0.9
    visibility: visible

.{newAppName}-td-element-show-08
  @media (max-width: tablet-upper-limit)
    opacity 0.8
    visibility: visible

.{newAppName}-td-element-show-07
  @media (max-width: tablet-upper-limit)
    opacity 0.7
    visibility: visible

.{newAppName}-td-element-show-06
  @media (max-width: tablet-upper-limit)
    opacity 0.6
    visibility: visible

.{newAppName}-td-element-show-05
  @media (max-width: tablet-upper-limit)
    opacity 0.5
    visibility: visible

.{newAppName}-td-element-show-04
  @media (max-width: tablet-upper-limit)
    opacity 0.4
    visibility: visible

.{newAppName}-td-element-show-03
  @media (max-width: tablet-upper-limit)
    opacity 0.3
    visibility: visible

.{newAppName}-td-element-show-02
  @media (max-width: tablet-upper-limit)
    opacity 0.2
    visibility: visible

.{newAppName}-td-element-show-01
  @media (max-width: tablet-upper-limit)
    opacity 0.1
    visibility: visible

.{newAppName}-td-element-hide
  @media (max-width: tablet-upper-limit)
    opacity: 0
    visibility: hidden

.{newAppName}-md-element-show
  @media (max-width: mobile-upper-limit)
    opacity: 1
    visibility: visible

.{newAppName}-md-element-show-09
  @media (max-width: mobile-upper-limit)
    opacity: 0.9
    visibility: visible

.{newAppName}-md-element-show-08
  @media (max-width: mobile-upper-limit)
    opacity 0.8
    visibility: visible

.{newAppName}-md-element-show-07
  @media (max-width: mobile-upper-limit)
    opacity 0.7
    visibility: visible

.{newAppName}-md-element-show-06
  @media (max-width: mobile-upper-limit)
    opacity 0.6
    visibility: visible

.{newAppName}-md-element-show-05
  @media (max-width: mobile-upper-limit)
    opacity 0.5
    visibility: visible

.{newAppName}-md-element-show-04
  @media (max-width: mobile-upper-limit)
    opacity 0.4
    visibility: visible

.{newAppName}-md-element-show-03
  @media (max-width: mobile-upper-limit)
    opacity 0.3
    visibility: visible

.{newAppName}-md-element-show-02
  @media (max-width: mobile-upper-limit)
    opacity 0.2
    visibility: visible

.{newAppName}-md-element-show-01
  @media (max-width: mobile-upper-limit)
    opacity 0.1
    visibility: visible

.{newAppName}-md-element-hide
  @media (max-width: mobile-upper-limit)
    opacity: 0
    visibility: hidden
