.advantage-list__item
  min-width: 100%

.related__service__offers.row,
.profit-container__items.row
  display: grid!important

.equipment-wrapper .row
  display: grid!important

.row.b2b-cards-container .rtk-card-container
  grid-column: 12 span;
  .rtk-carousel__inner.rt-container
    @supports (display: grid)
      display: grid
      grid-auto-flow: row
      margin-left: 0
      margin-right: 0
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
      grid-template-areas: ". . . . . . . . . . . ."
      grid-column-gap: horizontal-space
      @media (max-width: tablet-upper-limit)
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr
        grid-template-areas: ". . . . . ."

      @media (max-width: mobile-upper-limit)
        grid-template-columns: 1fr 1fr 1fr
        grid-template-areas: ". . ."
