@import "~nib/lib/nib/reset.styl"
@import "~nib/lib/nib/normalize/index.styl"

global-reset()
select, button, input, textarea
  font-size inherit
select, textarea, input
  color inherit
textarea
  line-height: inherit
button
  padding: 0
  border-width 0
  outline none
  background-color: transparent
  color: inherit;
