@import "~nib/lib/nib/reset.styl"
@import "~nib/lib/nib/normalize/index.styl"

global-reset()
select, button, input, textarea
  font-size inherit
textarea
  line-height: inherit
button
  padding: 0
  border-width 0
  outline none
