body
  font-family "RT Fonts"
  font-size 16px
  line-height 1.5
  font-weight 400

.{newAppName}-font
  font-size 16px
  line-height 1.5
  font-weight 400

.{newAppName}-font-hero
  font-size 48px
  line-height: 60px
  font-weight 600
  @media (max-width: tablet-step-size)
    font-size 36px
    line-height: 46px
  @media (max-width: mobile-step-size)
    font-size 28px
    line-height: 36px

h1,
.{newAppName}-font-h1
  font-size 50px
  line-height: 64px
  font-weight 200
  @media (max-width: tablet-step-size)
    font-size 36px
    line-height: 46px
  @media (max-width: mobile-step-size)
    font-size 28px
    line-height: 36px

.{newAppName}-font-banner-label
    font-size 48px
    line-height: 60px
    font-weight 600

.{newAppName}-font-banner-label-bold
    font-size 48px
    font-weight 800
    line-height: 60px

    @media (max-width: mobile-step-size)
      font-size 31px
      line-height 1.3

.{newAppName}-font-banner-label-thin
    font-size 48px
    line-height 63px
    font-weight 200

    @media (max-width: mobile-step-size)
      font-size 38px

h2,
.{newAppName}-font-h2
  font-size 36px
  line-height: 46px
  font-weight 200

  @media (max-width: tablet-step-size)
    font-size 28px
    line-height: 36px
  @media (max-width: mobile-step-size)
    font-size 22px
    line-height: 28px

.{newAppName}-font-promo-title
    font-size 36px

.{newAppName}-font-b2b-card-price
  font-size 32px
  line-height 42px
  font-weight 600

h3,
.{newAppName}-font-h3
  font-size 28px
  line-height: 36px
  font-weight 200
  @media (max-width: mobile-step-size)
    font-size 22px
    line-height: 28px

.{newAppName}-font-promo
    font-size 24px
    font-weight 200
    letter-spacing .28px

h4,
.{newAppName}-font-h4
  font-size 22px
  line-height: 28px
  font-weight 200

strong,
b,
.{newAppName}-font-bold
    font-weight 600

.{newAppName}-font-real-bold
  font-weight 800

.{newAppName}-font-medium
    font-weight 600

.{newAppName}-font-light
  font-weight 200

.{newAppName}-font-paragraph
  font-size 18px
  line-height: 26px
  @media (max-width: tablet-step-size)
    font-size 16px
    line-height: 24px

.{newAppName}-font-small-paragraph
  font-size 16px
  line-height: 24px

.{newAppName}-font-control
  font-size 14px
  line-height: 18px

.{newAppName}-font-label
  font-size 12px
  line-height: 16px


.{newAppName}-font-label-uppercase
    color main-color03
    font-size 12px
    text-transform uppercase
    letter-spacing 2px

.{newAppName}-font-sup
    position relative
    top -5px

.{newAppName}-font-no-wrap
    text-overflow ellipsis
    white-space nowrap

.{newAppName}-font-right
    text-align right

.{newAppName}-font-td-left
  @media (max-width: tablet-step-size)
    text-align left

.{newAppName}-font-md-left
  @media (max-width: tablet-step-size)
    text-align left

.{newAppName}-font-md-center
    &-center
      @media (max-width: mobile-step-size)
        text-align center

.{newAppName}-font-center
    text-align center

.{newAppName}-font-card-title
    font-size 30px

.{newAppName}-font-light
    font-weight 200

.{newAppName}-font-link
    color inherit
    text-decoration underline
    &:hover
      color inherit

.{newAppName}-td-font-left
  @media (max-width: tablet-step-size)
    text-align left

.{newAppName}-font-small-upper
    font-size 14px
    text-transform uppercase

.{newAppName}-font-spacing2
    letter-spacing 2px

.{newAppName}-font-spacing018
    letter-spacing .18px

.{newAppName}-font-hypnens-off
    word-wrap normal
    hyphens none
    -webkit-hyphens none
    -ms-hyphens none
    -moz-hyphens none

.{newAppName}-wrapper
  font-size 16px

a
  color inherit

.{newAppName}-numeric-list
  list-style-type none
  counter-reset step-counter
  color b2c-black05
  .{newAppName}-dark-theme &
    color b2c-white05

.{newAppName}-ordered-list__item
  position: relative
  color b2c-black05
  .{newAppName}-dark-theme &
    color b2c-white05
  &:before
    content: ''
    background-color: b2c-black05
    height: 6px
    width: 6px
    border-radius 50%
    display: inline-block
    margin-right: 12px
    margin-left: 2px
    left: 0
    .{newAppName}-dark-theme &
      background-color:  b2c-white05

.{newAppName}-numeric-list__item
  padding-left horizontal-space
  position relative
  counter-increment step-counter

  &:before
    content counter(step-counter) "."
    position absolute
    color b2c-black05
    left 0
    .{newAppName}-dark-theme &
      color b2c-white05
