.color-block--game
  background-color game-promo-color
  background-position center
  background-size cover

.{landing-name}-game
  min-height 100vh

.rt-l-game__logo
  width 285
  height 87px
  position absolute
  top 27px
  left 10px

  @media (max-width: mobile-upper-limit)
    width 167px

.rt-l-internet-speed
  text-align left

.rt-l-internet-speed__value
  font-size 68px
  line-height 60px
  font-weight 200

.rt-l-internet-speed__text
  color b2c-white07
.rt-banner__item--is-active
  position relative


.rt-l-bottom-scroll-arrow
  margin-left auto
  margin-right auto
  position absolute
  bottom 35px
  left 0
  right 0
  z-index 10
  animation-name bottomArrow
  animation-duration inherit
  animation-duration 4s
  animation-timing-function linear
  animation-iteration-count infinite


@keyframes bottomArrow
  0%
    bottom 35px

  25%
    bottom 25px

  50%
    bottom 35px

  75%
    bottom 45px

  100%
    bottom 35px

.rt-l-game-space
  min-height 150px
  max-height 180px

.rt-l-game
  .rt-banner__item flex
    @media (max-width: mobile-upper-limit)
      display block
