.{newAppName}-annotation
  font-size 12px

  &__arrow
    transition-timing-function ease-in-out
    transition-duration .2s
    transition-property fill
    fill b2c-black

    .{newAppName}-annotation--white-color,
    .{newAppName}-dark-theme &
      fill b2b-white

  &__title
    display inline-block
    padding-left 20px
    position relative
    cursor pointer

    &:before
      content ""
      width 0
      height 1px
      background-color b2c-black03
      position absolute
      bottom -2px
      left 20px
      transition-timing-function cubic-bezier(1, .2, .9, .65)
      transition-duration .2s
      transition-property width

      .{newAppName}-annotation:hover &
        width calc(100% - 20px)

      .{newAppName}-annotation--white-color &,
      .{newAppName}-dark-theme &
        background-color b2b-white03

    .{newAppName}-annotation--is-open &
      text-decoration none

  &__arrow
    margin-top auto
    margin-bottom auto
    position absolute
    top 0
    bottom 0
    left 0
    transform rotate(-90deg)
    transition-timing-function ease-in-out
    transition-duration .3s
    transition-property transform

    .{newAppName}-annotation--white-color &
      fill rgba(#ffffff, .5)

    .{newAppName}-annotation--is-open &
      transform rotate(0)

  &__content
    max-height 0
    overflow hidden
    color b2c-black05
    padding-top 0
    padding-left horizontal-space
    position relative
    transition-timing-function cubic-bezier(10, 2, .9, .65)
    transition-duration .3s
    transition-property max-height, padding

    .{newAppName}-dark-theme &
      color b2b-white

    &:before
      content ""
      width 1px
      height 0
      background-color b2c-black01
      position absolute
      top 20px
      left 6px
      transition-timing-function ease-in-out
      transition-duration .3s
      transition-property height

      .{newAppName}-annotation--white-color &
        background-color b2b-white03

      .{newAppName}-annotation--is-open &
        height calc(100% - 20px)

      .{newAppName}-annotation--white-color &,
      .{newAppName}-dark-theme &
        background-color b2b-white05

    .{newAppName}-annotation--white-color
      color b2b-white05

    .{newAppName}-annotation--is-open &
      max-height 300vh
      padding-top 10px

  &-item
    padding-top horizontal-space * .5
