.{b2bAppName}-banner
  height calc((100vw - 140px)/4)
  max-height calc(1340px/4)
  width 100%
  border-radius 10px
  color b2c-white
  display flex
  flex-direction row
  overflow: hidden
  min-height 300px
  .rt-banner-container,
  .row,
  .rt-col-12 > div,
  .rt-banner-content,
  .rt-banner-content__inner
    height 100%!important
  @media (max-width: tablet-upper-limit)
    height 300px
  @media (max-width: mobile-upper-limit)
    height auto!important
    max-height 500px
    flex-direction column
    .rt-banner-content
      height 100%!important
    .rt-banner-content__inner
      height 100%!important
    div
      max-height 250px
  .rt-banner-content
    position relative
    top auto
    bottom auto
    height auto!important
    min-height auto!important
    @media (max-width: mobile-upper-limit)
      min-height 250px
  .rt-banner-image,
  .rt-banner-container
    width 50%
    position relative
    left auto
    @media (max-width: tablet-upper-limit)
      width 100%
      padding 20px
      display block
    @media (max-width: mobile-upper-limit)
      height 50%!important
  .rt-banner-container
    clearfix()
    padding 40px
    @media (max-width: tablet-upper-limit)
      padding 20px
      min-height auto
    @media (max-width: mobile-upper-limit)
      order 1
  .rt-banner-image
    background-size: cover
    background-position 50% 50%
    background-repeat: no-repeat
    @media (max-width: tablet-upper-limit)
      background-position-y 100%
      height auto
    @media (max-width: mobile-upper-limit)
      height calc((100vw - 40px)/2)
  .rt-banner-content__inner
    display flex
    padding 0
    box-sizing border-box
    flex-direction column
    justify-content space-between
    height calc(100% - 80px)
    @media (max-width: tablet-upper-limit)
      order 1
      min-height auto
      height auto
  &__title
    font-size 32px
    line-height 36px
    font-weight 400
    margin-bottom: 10px
  &__description
    font-size 18px
    line-height 24px
    font-weight 400
  &__text-content
    @media (max-width: tablet-upper-limit) and (min-width: tablet-lower-limit)
      margin-bottom: 60px
  &--category
    .{newAppName}-banner-image
      @media (max-width: mobile-upper-limit)
        background-image: none!important
