.{b2bAppName}-card
  display flex
  flex 1
  flex-direction column
  align-self stretch
  width 100%
  min-height 184px
  overflow unset
  color main-color
  background-repeat no-repeat
  border-radius 10px
  box-shadow card-shadow
  position relative
  padding 20px
  box-sizing border-box
  background-color b2c-white
  z-index 1
  &--package
    padding vertical-space * 1.5
  &__subtitle
    height: 18px
    opacity: 0.25
    font-size: 14px
    letter-spacing: 0.9px
    text-transform: uppercase
    box-sizing unset
  &__description
    margin-bottom 60px
    vertical-align: middle
    &__item
      vertical-align: middle
      &+&
        margin-bottom 12px
      &__footnote
        color b2c-black05
      &--disabled
        opacity .25
      &--purple
        color b2c-purple
    &__row
      margin-bottom vertical-space *.5
  .{b2bAppName}-price
    display: inline-block
    &__value,
    &__info
      font-size inherit
      color inherit
  &__cost
    margin-bottom: vertical-space *.25
    color main-color09
    .{b2bAppName}-price
      &__value,
      &__info
        font-size 32px
        line-height 42px
  &__section
    padding 20px 0
    &+&
      border-top 1px solid b2c-black02
    .{b2bAppName}-card__description__row:last-child
      margin-bottom: 0
  &__links-block
    overflow: hidden
    max-height 26px
    max-width 175px
    display inline-block
    vertical-align: middle
    &--expanded
      max-height none
      & + .rtb-card__expand-button
        display none
      .{b2bAppName}-card__social-link
        &:nth-child(5+n)
          display inline-block
    &__footnote
      margin-top: 5px
  &__social-link
    margin-bottom 6px
    size(26px)
    display inline-block
    vertical-align: middle
    &+&
      margin-left 6px
    &:nth-child(6n)
      margin-left: 0
    &:nth-child(5+n)
      display none
  &__expand-button
    font-size: 14px
    line-height 18px
    color b2c-purple
    vertical-align: middle
    cursor: pointer
    margin-left: 5px
  &__hint
    width 20px
    height 20px
    border-radius 50%
    background-color b2b-cool-grey05-no-opacity
    color b2b-slate
    display inline-block
    position relative
    vertical-align: middle
    margin-left: 6px
    text-align: center
    font-size 14px
    line-height 20px
    cursor pointer
    z-index 9
    &__text
      padding 8px 12px
      box-sizing border-box
      background-color b2b-cool-grey05-no-opacity
      color b2b-slate
      position relative
      right -25px
      top -50%
      min-width 180px
      min-height 70px
      z-index 9
      text-align left
      border-radius 5px
      max-width 250px
      transform translateY(-50%)
      &:before
        position absolute
        content ''
        width: 0
        height: 0
        border-style: solid
        border-width: 5px 5px 5px 0
        border-color: transparent #f1f3f5 transparent transparent
        top calc(50% - 5px)
        left -5px
  .{newAppName}-card__content
    padding 0
    min-height auto
  .{newAppName}-card__body
    padding 0
  &__discount
    width 100%
    height 10px
    position absolute
    top 0
    left 0
    z-index 2
    &-line
      height 10px
      position absolute
      border-radius 10px 10px 0 0
      &__flag
        position absolute
        width 83px
        height 80px
        top 10px
        right 0
        &-text
          color b2c-white
          position absolute
          top vertical-space * (3/4)
          right vertical-space * .25
          max-width 73px
          font-size 14px
          line-height 16px
          text-align: center

  &__discount-line-1
    background-color: b2c-green
    top -10px
    width 90%
    left 5%
    &:last-child
      background-color: b2c-yellow-high
  &__discount-line-2
    background-color: b2c-red
    top -20px
    width 81%
    left 9.5%
  &__discount-line-3
    background-color: b2c-purple
    top -30px
    width 72.9%
    left 13.95%
  .{newAppName}-card__background
    top 0
    left 0
    right 0
    bottom 0
  .{newAppName}-card__header,
  .{newAppName}-card__footer
    padding 0
  &__vertical
    display flex
    flex-direction row
    &__left-column
      max-width 64px
      margin-right: 20px
      text-align: center
  &__icon
    max-width 64px
    max-height 64px
  &--category
    height 364px
    .{newAppName}-card__background--position-background-right
      background-position-x 100%

  &__label
    position: absolute
    top: 20px
    right: -13px
    z-index: 3
    width 80px
    height 49px
    background-image: url('/static/images/B2B/sale-label.svg')
    background-repeat: no-repeat
    text-align: center
    color b2c-white
    padding-top 4px
    box-sizing border-box

.{b2bAppName}-category
  &.{newAppName}-card-red
    .{b2bAppName}-category__text-content
      background-color b2c-red
    .{b2bAppName}-category__triangle
      fill b2c-red
  &.{newAppName}-card-purple
    .{b2bAppName}-category__text-content
      background-color b2c-purple
    .{b2bAppName}-category__triangle
      fill b2c-purple
  &.{newAppName}-card-dark-blue
    .{b2bAppName}-category__text-content
      background-color b2c-dark-blue
    .{b2bAppName}-category__triangle
      fill b2c-dark-blue
  &.{newAppName}-card-green-low
    .{b2bAppName}-category__text-content
      background-color b2c-green-low
    .{b2bAppName}-category__triangle
      fill b2c-green-low
  &.{newAppName}-card-yellow-low
    .{b2bAppName}-category__text-content
      background-color b2c-yellow-low
    .{b2bAppName}-category__triangle
      fill b2c-yellow-low

.{b2bAppName}-category
  box-sizing border-box
  height 364px
  @media (max-width: mobile-upper-limit)
    height 420px
  &__content
    display flex
    flex-direction row
    height 100%
    &-top
      overflow: hidden
  &__triangle
    width 76px
    height 100%
    position absolute
    top 0
    left calc((100% - 76px) /2)
    bottom 0
    right calc((100% - 76px) /2)
    @media (max-width: tablet-upper-limit)
      display none
  &__image
    width calc((100% + 76px) /2)
    background-position 50% 50%
    background-repeat: no-repeat
    background-size cover
    @media (max-width: tablet-upper-limit)
      display none
  &__text-content
    width calc((100% - 76px) /2)
    padding vertical-space
    display flex
    flex-direction column
    justify-content space-between
    @media (max-width: tablet-upper-limit)
      width 100%
      padding-top vertical-space * 2
  &__mobile-header
    width 60px
    height 60px
    background-repeat: no-repeat
    background-position 50% 50%
    margin-bottom vertical-space
    @media (min-width: laptop-lower-limit)
      display none
  &--l
    @media (max-width: mobile-upper-limit)
      height 420px
    .{b2bAppName}-category__image
      display block!important
      @media (max-width: mobile-upper-limit)
        height 40%
        width 100%
        background-size: cover
    .{b2bAppName}-category__text-content
      padding vertical-space * 1.5
      @media (max-width: tablet-upper-limit)
        width calc((100% - 76px) /2)
      @media (max-width: mobile-upper-limit)
        height 60%
        width 100%
    .{b2bAppName}-category__content
      @media (max-width: mobile-upper-limit)
        flex-direction column-reverse
    .{b2bAppName}-category__text-content
      @media (max-width: tablet-upper-limit)
        padding vertical-space
    .{b2bAppName}-category__triangle
      @media (min-width: tablet-lower-limit)
        display block
  &--s
    .{b2bAppName}-category__text-content
      padding-top vertical-space * 2
      width 100%
    .{b2bAppName}-category__mobile-header
      display block!important
    .{b2bAppName}-category__content-top--cut
      max-height 258px
  .{newAppName}-price
    opacity 1!important

.triple
  .{b2bAppName}-card
    &__discount-line-1
      background-color: b2c-light-blue-high
    &__discount-line-2
        background-color b2c-orange

.mb5
  margin-bottom 5px

