.{newAppName}-benefit
  &-block
    width 100%
    padding-top 60px
    &--no-transparency
      .{newAppName}-benefit-item__text
        p
          opacity 1
  &-item
    margin-bottom 60px
    &__step,
    &__icon
      margin-bottom 20px
      &-background
        border-radius 50%
        position relative
        .{newAppName}-benefit-item__icon
          position absolute
          top 50%
          left 50%
          transform translateY(-50%) translateX(-50%)
    &__image
      margin-bottom: 20px
      &>img
        width 100%
    &__text
      .{newAppName}-font-small-paragraph
        opacity .7
    &--center
      text-align: center
      .{newAppName}-benefit-item__icon
        margin 0 auto 20px
    &--inline
      display flex
      .{newAppName}-benefit-item__icon
        flex-basis 80px
        margin-bottom: 0
      .{newAppName}-benefit-item__text
        margin-left: 20px

  &-item__text
    h4
      font-size 22px
      line-height 28px
      font-weight 500
      margin-bottom 10px
      @media (max-width: laptop-upper-limit)
        font-size 20px
        line-height 26px
      @media (max-width: mobile-upper-limit)
        font-size 18px
        line-height 24px
    p
      font-size 16px
      line-height 24px
      opacity .7
      @media (max-width: laptop-upper-limit)
        font-size 16px
        line-height 22px
      @media (max-width: mobile-upper-limit)
        font-size 14px
        line-height 18px
    &-icon
      width 24px
      height 24px
      display: inline-block
      margin-right: 10px
      &-svg
        width 100%
        height 100%

.rbi-pr70
  @media(min-width: tablet-lower-limit)
    padding-right 30px
  @media(min-width: laptop-lower-limit)
    padding-right 70px


.rbi-pr1c
  @media(min-width: laptop-lower-limit)
    padding-right calc(50% * 1 / 6 + 10px)
