.{newAppName}-tabs-checklist
  .{newAppName}-tabs-checklist-content__item
    &+.{newAppName}-tabs-checklist-content__item
      display: none
.{newAppName}-tabs-checklist--is-active
  .{newAppName}-tabs-checklist-content__item
    display: none
    &+.{newAppName}-tabs-checklist-content__item
      display: block



