.color-line
  display inline
  word-break break-word
  position relative
  left 15px
  &-label
    line-height: 60px
    @media (max-width: mobile-step-size)
      line-height: 35px

  &-wrapper
    max-width calc(100vw - 70px)
    padding-bottom: 37px;
    padding-right: 29px;

  &--is-paragraph
    display flex
    flex-wrap wrap
    padding-right horizontal-space * .75
    position relative

    &:before,
    &:after
      content ""
      order 1
      width 100%

    @media (max-width: mobile-step-size)
      margin-right horizontal-space * 1.5

  &-paragraph-icon
    width 37px
    height 23px
    overflow visible
    position absolute
    position absolute
    position absolute
    bottom: -22px;
    right: -17px
    fill b2c-orange

    &--fill-dark-state
      .color-line-paragraph-icon__background
        fill b2b-dark-state
    &--dark-state
      fill b2b-dark-state
    &--fill-purple
      .color-line-paragraph-icon__background
        fill b2c-purple
    &--purple
      fill b2c-purple
    &--fill-purple-low
      .color-line-paragraph-icon__background
        fill b2c-purple-low
    &--purple-low
      fill b2c-purple-low
    &--fill-purple-hight
      .color-line-paragraph-icon__background
        fill b2c-purple-hight
    &--purple-hight
      fill b2c-purple-hight
    &--fill-red
      .color-line-paragraph-icon__background
        fill b2c-red
    &--red
      fill b2c-red
    &--fill-red-low
      .color-line-paragraph-icon__background
        fill b2c-red-low
    &--red-low
      fill b2c-red-low
    &--fill-red-hight
      .color-line-paragraph-icon__background
        fill b2c-red-hight
    &--red-hight
      fill b2c-red-hight
    &--fill-dark-blue
      .color-line-paragraph-icon__background
        fill b2c-dark-blue
    &--dark-blue
      fill b2c-dark-blue
    &--fill-dark-blue-low
      .color-line-paragraph-icon__background
        fill b2c-dark-blue-low
    &--dark-blue-low
      fill b2c-dark-blue-low
    &--fill-dark-blue-hight
      .color-line-paragraph-icon__background
        fill b2c-dark-blue-hight
    &--dark-blue-hight
      fill b2c-dark-blue-hight
    &--fill-light-blue
      .color-line-paragraph-icon__background
        fill b2c-light-blue
    &--light-blue
      fill b2c-light-blue
    &--fill-light-blue-low
      .color-line-paragraph-icon__background
        fill b2c-light-blue-low
    &--light-blue-low
      fill b2c-light-blue-low
    &--fill-light-blue-hight
      .color-line-paragraph-icon__background
        fill b2c-light-blue-hight
    &--light-blue-hight
      fill b2c-light-blue-hight
    &--fill-yellow
      .color-line-paragraph-icon__background
        fill b2c-yellow
    &--yellow
      fill b2c-yellow
    &--fill-yellow-low
      .color-line-paragraph-icon__background
        fill b2c-yellow-low
    &--yellow-low
      fill b2c-yellow-low
    &--fill-yellow-hight
      .color-line-paragraph-icon__background
        fill b2c-yellow-hight
    &--yellow-hight
      fill b2c-yellow-hight
    &--fill-orange
      .color-line-paragraph-icon__background
        fill b2c-orange
    &--orange
      fill b2c-orange
    &--fill-orange-low
      .color-line-paragraph-icon__background
        fill b2c-orange-low
    &--orange-low
      fill b2c-orange-low
    &--fill-orange-hight
      .color-line-paragraph-icon__background
        fill b2c-orange-hight
    &--orange-hight
      fill b2c-orange-hight
    &--fill-pink
      .color-line-paragraph-icon__background
        fill b2c-pink
    &--pink
      fill b2c-pink
    &--fill-pink-low
      .color-line-paragraph-icon__background
        fill b2c-pink-low
    &--pink-low
      fill b2c-pink-low
    &--fill-pink-hight
      .color-line-paragraph-icon__background
        fill b2c-pink-hight
    &--pink-hight
      fill b2c-pink-hight
    &--fill-green
      .color-line-paragraph-icon__background
        fill b2c-green
    &--green
      fill b2c-green
    &--fill-green-low
      .color-line-paragraph-icon__background
        fill b2c-green-low
    &--green-low
      fill b2c-green-low
    &--fill-green-hight
      .color-line-paragraph-icon__background
        fill b2c-green-hight
    &--green-hight
      fill b2c-green-hight
    &--fill-black
      .color-line-paragraph-icon__background
        fill b2c-black
    &--black
      fill b2c-black
    &--white
      fill b2c-white



  &-text
    position: relative
    border-right 2px solid white
    br
      @media (max-width: mobile-step-size)
        display none




    .color-line--is-paragraph &
      border-radius 0 5px 0 0
      padding-top vertical-space*0.25
      padding-bottom vertical-space * .25

    display inline
    color main-color
    background-color #fff
    box-decoration-break clone
    box-shadow 15px 0 0 #fff, -15px 0 0 #fff
    position relative

    &--dark-state
      background-color b2b-dark-state
      border-right 2px solid b2b-dark-state
      box-decoration-break clone
      box-shadow horizontal-space * .75 0 0 b2b-dark-state, -1 * horizontal-space * .75 0 0 b2b-dark-state
    &--purple
      background-color b2c-purple
      border-right 2px solid b2c-purple
      box-decoration-break clone
      box-shadow horizontal-space * .75 0 0 b2c-purple, -1 * horizontal-space * .75 0 0 b2c-purple
    &--purple-low
      background-color b2c-purple-low
      border-right 2px solid b2c-purple-low
      box-decoration-break clone
      box-shadow horizontal-space * .75 0 0 b2c-purple-low, -1 * horizontal-space * .75 0 0 b2c-purple-low
    &--purple-hight
      background-color b2c-purple-hight
      border-right 2px solid b2c-purple-hight
      box-decoration-break clone
      box-shadow horizontal-space * .75 0 0 b2c-purple-hight, -1 * horizontal-space * .75 0 0 b2c-purple-hight
    &--red
      background-color b2c-red
      border-right 2px solid b2c-red
      box-decoration-break clone
      box-shadow horizontal-space * .75 0 0 b2c-red, -1 * horizontal-space * .75 0 0 b2c-red
    &--red-low
      background-color b2c-red-low
      border-right 2px solid b2c-red-low
      box-decoration-break clone
      box-shadow horizontal-space * .75 0 0 b2c-red-low, -1 * horizontal-space * .75 0 0 b2c-red-low
    &--red-hight
      background-color b2c-red-hight
      border-right 2px solid b2c-red-hight
      box-decoration-break clone
      box-shadow horizontal-space * .75 0 0 b2c-red-hight, -1 * horizontal-space * .75 0 0 b2c-red-hight
    &--dark-blue
      background-color b2c-dark-blue
      border-right 2px solid b2c-dark-blue
      box-decoration-break clone
      box-shadow horizontal-space * .75 0 0 b2c-dark-blue, -1 * horizontal-space * .75 0 0 b2c-dark-blue
    &--dark-blue-low
      background-color b2c-dark-blue-low
      border-right 2px solid b2c-dark-blue-low
      box-decoration-break clone
      box-shadow horizontal-space * .75 0 0 b2c-dark-blue-low, -1 * horizontal-space * .75 0 0 b2c-dark-blue-low
    &--dark-blue-hight
      background-color b2c-dark-blue-hight
      border-right 2px solid b2c-dark-blue-hight
      box-decoration-break clone
      box-shadow horizontal-space * .75 0 0 b2c-dark-blue-hight, -1 * horizontal-space * .75 0 0 b2c-dark-blue-hight
    &--light-blue
      background-color b2c-light-blue
      border-right 2px solid b2c-light-blue
      box-decoration-break clone
      box-shadow horizontal-space * .75 0 0 b2c-light-blue, -1 * horizontal-space * .75 0 0 b2c-light-blue
    &--light-blue-low
      background-color b2c-light-blue-low
      border-right 2px solid b2c-light-blue-low
      box-decoration-break clone
      box-shadow horizontal-space * .75 0 0 b2c-light-blue-low, -1 * horizontal-space * .75 0 0 b2c-light-blue-low
    &--light-blue-hight
      background-color b2c-light-blue-hight
      border-right 2px solid b2c-light-blue-hight
      box-decoration-break clone
      box-shadow horizontal-space * .75 0 0 b2c-light-blue-hight, -1 * horizontal-space * .75 0 0 b2c-light-blue-hight
    &--yellow
      background-color b2c-yellow
      border-right 2px solid b2c-yellow
      box-decoration-break clone
      box-shadow horizontal-space * .75 0 0 b2c-yellow, -1 * horizontal-space * .75 0 0 b2c-yellow
    &--yellow-low
      background-color b2c-yellow-low
      border-right 2px solid b2c-yellow-low
      box-decoration-break clone
      box-shadow horizontal-space * .75 0 0 b2c-yellow-low, -1 * horizontal-space * .75 0 0 b2c-yellow-low
    &--yellow-hight
      background-color b2c-yellow-hight
      border-right 2px solid b2c-yellow-hight
      box-decoration-break clone
      box-shadow horizontal-space * .75 0 0 b2c-yellow-hight, -1 * horizontal-space * .75 0 0 b2c-yellow-hight
    &--orange
      background-color b2c-orange
      border-right 2px solid b2c-orange
      box-decoration-break clone
      box-shadow horizontal-space * .75 0 0 b2c-orange, -1 * horizontal-space * .75 0 0 b2c-orange
    &--orange-low
      background-color b2c-orange-low
      border-right 2px solid b2c-orange-low
      box-decoration-break clone
      box-shadow horizontal-space * .75 0 0 b2c-orange-low, -1 * horizontal-space * .75 0 0 b2c-orange-low
    &--orange-hight
      background-color b2c-orange-hight
      border-right 2px solid b2c-orange-hight
      box-decoration-break clone
      box-shadow horizontal-space * .75 0 0 b2c-orange-hight, -1 * horizontal-space * .75 0 0 b2c-orange-hight
    &--pink
      background-color b2c-pink
      border-right 2px solid b2c-pink
      box-decoration-break clone
      box-shadow horizontal-space * .75 0 0 b2c-pink, -1 * horizontal-space * .75 0 0 b2c-pink
    &--pink-low
      background-color b2c-pink-low
      border-right 2px solid b2c-pink-low
      box-decoration-break clone
      box-shadow horizontal-space * .75 0 0 b2c-pink-low, -1 * horizontal-space * .75 0 0 b2c-pink-low
    &--pink-hight
      background-color b2c-pink-hight
      border-right 2px solid b2c-pink-hight
      box-decoration-break clone
      box-shadow horizontal-space * .75 0 0 b2c-pink-hight, -1 * horizontal-space * .75 0 0 b2c-pink-hight
    &--green
      background-color b2c-green
      border-right 2px solid b2c-green
      box-decoration-break clone
      box-shadow horizontal-space * .75 0 0 b2c-green, -1 * horizontal-space * .75 0 0 b2c-green
    &--green-low
      background-color b2c-green-low
      border-right 2px solid b2c-green-low
      box-decoration-break clone
      box-shadow horizontal-space * .75 0 0 b2c-green-low, -1 * horizontal-space * .75 0 0 b2c-green-low
    &--green-hight
      background-color b2c-green-hight
      border-right 2px solid b2c-green-hight
      box-decoration-break clone
      box-shadow horizontal-space * .75 0 0 b2c-green-hight, -1 * horizontal-space * .75 0 0 b2c-green-hight
    &--black
      background-color b2c-black
      border-right 2px solid b2c-black
      box-decoration-break clone
      box-shadow horizontal-space * .75 0 0 b2c-black, -1 * horizontal-space * .75 0 0 b2c-black

.banner-page__content .banner-page__before-title{
  display: none;
}
.banner-page__content .promo__title .wrap{
  font-size: 48px!important;
  line-height: 60px!important;
  margin: 0;
  padding: 0;
}

.banner-page__content .wrap{
  box-shadow: -15px 0 0 #fff;
  border: none!important;
}
.banner-page__content .text{
  box-shadow: 15px 0 0 #fff;
  margin: 0;
  padding: 0;
}
.banner-page__content .promo__desc{
  padding-top: 0px!important;
  padding-bottom: 5px!important;
}
.banner-page__content .promo__desc .text{
  border-radius: 0 5px 0 0!important;
  padding-top: 5px!important;
  padding-bottom: 5px!important;
}
.banner-page__content .banner-promo__tonque{
  right: -15px!important;
}
