.color   {
    &-main {
        color: main-color;
    }
    &-main09 {
        color: main-color09;
    }
    &-main07 {
        color: main-color07;
    }
    &-main05 {
        color: main-color05;
    }
    &-main03 {
        color: main-color03;
    }
    &-white {
        color: b2b-white;
    }
    &-white07 {
        color: b2b-white07;
    }
    &-white05 {
        color: b2b-white05;
    }

    &-dark {
        color: b2c-dark;
    }
    &-dark09 {
        color: b2c-dark09;
    }
    &-dark08 {
        color: b2c-dark08;
    }
    &-dark07 {
        color: b2c-dark07;
    }
    &-dark06 {
        color: b2c-dark06;
    }
    &-dark05 {
        color: b2c-dark05;
    }
    &-dark04 {
        color: b2c-dark04;
    }
    &-dark03 {
        color: b2c-dark03;
    }
    &-dark02 {
        color: b2c-dark02;
    }
    &-dark01 {
        color: b2c-dark01;
    }
}
