.color-line
  display inline
  line-height 1.5
  word-break break-word
  position relative
  left 15px

  &-wrapper
    max-width calc(100vw - 70px)

  &--is-paragraph
    display flex
    flex-wrap wrap
    padding-right horizontal-space * .75
    position relative

    &:before,
    &:after
      content ""
      order 1
      width 100%

    @media (max-width: mobile-step-size)
      margin-right horizontal-space * 1.5

  &-paragraph-icon
    width 37px
    height 23px
    overflow visible
    position absolute
    position absolute
    position absolute
    bottom -23px
    right -14px
    fill b2c-orange-low

    &--fill-purple
      .color-line-paragraph-icon__background
        fill b2c-purple-low

    &--purple
      fill b2c-purple-low

    &--fill-red
      .color-line-paragraph-icon__background
        fill b2c-red-low

    &--red
      fill b2c-red-low

    &--fill-dark-blue
      .color-line-paragraph-icon__background
        fill b2c-dark-blue-low

    &--dark-blue
      fill b2c-dark-blue-low

    &--fill-light-blue
      .color-line-paragraph-icon__background
        fill b2c-light-blue-low

    &--light-blue
      fill b2c-light-blue-low

    &--fill-yellow
      .color-line-paragraph-icon__background
        fill b2c-yellow-low

    &--yellow
      fill b2c-yellow-low

    &--fill-pink
      .color-line-paragraph-icon__background
        fill b2c-pink-low

    &--pink
      fill b2c-pink-low

    &--fill-green
      .color-line-paragraph-icon__background
        fill b2c-green-low

    &--green
      fill b2c-green-low

  &-text
    word-wrap normal
    hyphens none
    -webkit-hyphens none
    -ms-hyphens none
    -moz-hyphens none

    br
      @media (max-width: mobile-step-size)
        display none

    .color-line--is-paragraph &
      border-radius 0 5px 0 0
      padding-top vertical-space
      padding-bottom vertical-space * .5

    display inline
    color main-color
    background-color #fff
    box-decoration-break clone
    box-shadow horizontal-space * .75 0 0 #fff, -1 * horizontal-space * .75 0 0 #fff
    padding-top vertical-space * .5
    padding-bottom vertical-space
    position relative

    &--purple
      background-color b2c-purple-low
      box-decoration-break clone
      box-shadow horizontal-space * .75 0 0 b2c-purple-low, -1 * horizontal-space * .75 0 0 b2c-purple-low

    &--red
      background-color b2c-red-low
      box-decoration-break clone
      box-shadow horizontal-space * .75 0 0 b2c-red-low, -1 * horizontal-space * .75 0 0 b2c-red-low

    &--dark-blue
      background-color b2c-dark-blue-low
      box-decoration-break clone
      box-shadow horizontal-space * .75 0 0 b2c-dark-blue-low, -1 * horizontal-space * .75 0 0 b2c-dark-blue-low

    &--light-blue
      background-color b2c-light-blue-low
      box-decoration-break clone
      box-shadow horizontal-space * .75 0 0 b2c-light-blue-low, -1 * horizontal-space * .75 0 0 b2c-light-blue-low

    &--yellow
      background-color b2c-yellow-low
      box-decoration-break clone
      box-shadow horizontal-space * .75 0 0 b2c-yellow-low, -1 * horizontal-space * .75 0 0 b2c-yellow-low

    &--pink
      background-color b2c-pink-low
      box-decoration-break clone
      box-shadow horizontal-space * .75 0 0 b2c-pink-low, -1 * horizontal-space * .75 0 0 b2c-pink-low

    &--green
      background-color b2c-green-low
      box-decoration-break clone
      box-shadow horizontal-space * .75 0 0 b2c-green-low, -1 * horizontal-space * .75 0 0 b2c-green-low
