.color-block
  &--white
    background-color b2c-white

    .{b2bAppName}-product__triangle-image
      fill b2c-white
  &--main-color05
    background-color: main-color05
    .{b2bAppName}-product__triangle-image
      fill main-color05
  &--dark-state
    background-color b2b-dark-state

    .{b2bAppName}-product__triangle-image
      fill b2b-dark-state

  &--purple
    background-color b2c-purple

    .{b2bAppName}-product__triangle-image
      fill b2c-purple

  &--purple-low
    background-color b2c-purple-low

    .{b2bAppName}-product__triangle-image
      fill b2c-purple-low

  &--purple-high
    background-color b2c-purple-high

    .{b2bAppName}-product__triangle-image
      fill b2c-purple-high

  &--red
    background-color b2c-red

    .{b2bAppName}-product__triangle-image
      fill b2c-red

  &--red-low
    background-color b2c-red-low

    .{b2bAppName}-product__triangle-image
      fill b2c-red-low

  &--red-high
    background-color b2c-red-high

    .{b2bAppName}-product__triangle-image
      fill b2c-red-high

  &--dark-blue
    background-color b2c-dark-blue

    .{b2bAppName}-product__triangle-image
      fill b2c-dark-blue

  &--dark-blue-low
    background-color b2c-dark-blue-low

    .{b2bAppName}-product__triangle-image
      fill b2c-dark-blue-low

  &--dark-blue-high
    background-color b2c-dark-blue-high

    .{b2bAppName}-product__triangle-image
      fill b2c-dark-blue-high

  &--light-blue
    background-color b2c-light-blue

    .{b2bAppName}-product__triangle-image
      fill b2c-light-blue

  &--light-blue-low
    background-color b2c-light-blue-low

    .{b2bAppName}-product__triangle-image
      fill b2c-light-blue-low

  &--light-blue-high
    background-color b2c-light-blue-high

    .{b2bAppName}-product__triangle-image
      fill b2c-light-blue-high

  &--yellow
    background-color b2c-yellow

    .{b2bAppName}-product__triangle-image
      fill b2c-yellow

  &--yellow-low
    background-color b2c-yellow-low

    .{b2bAppName}-product__triangle-image
      fill b2c-yellow-low

  &--yellow-high
    background-color b2c-yellow-high

    .{b2bAppName}-product__triangle-image
      fill b2c-yellow-high

  &--orange
    background-color b2c-orange

    .{b2bAppName}-product__triangle-image
      fill b2c-orange

  &--orange-low
    background-color b2c-orange-low

    .{b2bAppName}-product__triangle-image
      fill b2c-orange-low

  &--orange-high
    background-color b2c-orange-high

    .{b2bAppName}-product__triangle-image
      fill b2c-orange-high

  &--pink
    background-color b2c-pink

    .{b2bAppName}-product__triangle-image
      fill b2c-pink

  &--pink-low
    background-color b2c-pink-low

    .{b2bAppName}-product__triangle-image
      fill b2c-pink-low

  &--pink-high
    background-color b2c-pink-high

    .{b2bAppName}-product__triangle-image
      fill b2c-pink-high

  &--green
    background-color b2c-green

    .{b2bAppName}-product__triangle-image
      fill b2c-green

  &--green-low
    background-color b2c-green-low

    .{b2bAppName}-product__triangle-image
      fill b2c-green-low

  &--green-high
    background-color b2c-green-high

    .{b2bAppName}-product__triangle-image
      fill b2c-green-high

  &--black
    background-color main-color

    .{b2bAppName}-product__triangle-image
      fill main-color

  &--burgundy
    background-color b2b-burgundy

    .{b2bAppName}-product__triangle-image
      fill b2b-burgundy

.color-block--main-color
  background-color main-color

  .{b2bAppName}-product__triangle-image
      fill main-color

.color-block--light-grey
  background-color light-grey

  .{b2bAppName}-product__triangle-image
      fill light-grey

.color-block--rule-color
  background-color rule-color

  .{b2bAppName}-product__triangle-image
      fill rule-color

.color-block--rule-color
  background-color #272F3D

  .{b2bAppName}-product__triangle-image
      fill #272F3D

.color-block--game-promo-color
  background-color game-promo-color

  .{b2bAppName}-product__triangle-image
      fill game-promo-color
