.color-block
  &--white
    background-color #fff

  &--purple
    background-color b2c-purple

  &--red
    background-color b2c-red

  &--dark-blue
    background-color b2c-dark-blue

  &--rule-color
    background-color rule-color

  &--promo-blue
    background promo-blue-background

  &--light-blue
    background-color b2c-light-blue

  &--yellow
    background-color b2c-yellow

  &--orange
    background-color b2c-orange

  &--pink
    background-color b2c-pink

  &--green
    background-color b2c-green

  &--dark
    background-color b2c-black

  &--light-grey
    background-color light-grey
