body
  color main-color
  transition cubic-bezier(.11, .34, .97, .33)
  transition-duration .3s
  transition-property background-color, color

.{newAppName}-dark-theme
  color white
  background-color main-color

.{newAppName}-dark-theme--transparent
  background-color transparent
