.download-content
  display inline-block
  padding-left 25px
  position relative
  cursor pointer
  transition-timing-function ease-in-out
  transition-duration .2s
  transition-property color

  &:hover
    color main-color05

  &__icon
    position absolute
    left 0

    &-svg
      transition-timing-function ease-in-out
      transition-duration .2s
      transition-property stroke
      stroke main-color

      .download-content:hover &
        stroke main-color05

  &__text,
  &__info
    color main-color05
    padding-top 4px
