.{b2bAppName}
  &-expand-wrapper
    height auto
    overflow hidden
    &__content
      overflow hidden

.{b2bAppName}-unwrap-button
  @media (min-width: tablet-lower-limit)
    display none
  &--all-resolutions
    display block
  &--hidden
    display none

