.{newAppName}-fullscreen-image
  &__element
    background-attachment scroll
    background-attachment fixed
    background-position center center
    background-size cover
    padding-top horizontal-space
    padding-bottom horizontal-space
    -webkit-background-size cover

    @media (max-width: mobile-upper-limit)
      background-attachment scroll
