.rt-icon
  opacity 1
  visibility visible
  transition-timing-function ease-in-out
  transition-duration .4s
  transition-property opacity, visibility

  &--not-active
    opacity .3

.{b2bAppName}-icon
  position absolute
  top 50%
  left 20px
  transform translateY(-50%)

  &+.ripple
    text-indent 36px

  &-image
    .{newAppName}-dark-theme &
      fill #637493
