.{newAppName}-close
  position: absolute
  top: vertical-space
  right horizontal-space*1.5
  transition-timing-function: ease-in-out;
  transition-property: transform ;
  transition-duration: 0.4s;
  cursor: pointer
  z-index: 2
  opacity: 0.7;
  &:hover
    opacity: 1
    transform rotate(180deg)
