.{newAppName}-close
  position: absolute
  top: vertical-space
  right horizontal-space*1.5
  transition-timing-function: ease-in-out;
  transition-property: transform, stroke ;
  transition-duration: 0.4s;
  cursor: pointer
  z-index: 2
  &:hover
      transform rotate(180deg)
      fill b2c-purple-low
