.{newAppName}-inline-dropdown
  margin-left -10px

  .text-field__line
    display none

  &-item
    white-space nowrap
    padding-left 10px
    padding-right 10px

  &__list
    display flex
    flex-direction row
    flex-wrap wrap
