@require "~nib/lib/nib/vendor.styl"

.input-element
  width 100%
  color main-color
  background-color transparent
  border none
  outline none
  padding-bottom 10px
  padding-right 23px
  position relative
  z-index 2
  appearance field
  placeholder(color main-color07, )

  .input--with-button &
    padding-right horizontal-space * 3

  &[disabled]
    color b2c-cool-grey03
    placeholder(color main-color03, )

  .{newAppName}-input--white &,
  .{newAppName}-card--has-white-color &
    color white

    .{newAppName}-dark-theme &
      color white

  .{newAppName}-dark-theme &
    color #fff

  .{newAppName}-card &
    color main-color

.input-clear
  position absolute
  top 25px
  right 0
  z-index 2
  cursor pointer
  transition-timing-function ease-in-out
  transition-duration .4s
  transition-property opacity, transform
  animation .3s showClearInput ease-in-out

  &:hover
    transform rotate(180deg)

.input-clear__icon
  fill main-color

  .{newAppName}-dark-theme &,
  .{newAppName}-input--white &
    fill white

  .{newAppName}-card &
    fill main-color

  .{newAppName}-card--has-white-color &
    fill white

.input-arithmetic
  position absolute
  top 25px
  right 0
  z-index 2

.input-arithmetic__button
  cursor pointer

  &+&
    margin-left horizontal-space * .5

.input-arithmetic__button-icon
  transition-timing-function ease-in-out
  transition-duration .4s
  transition-property stroke
  stroke main-color

  .{newAppName}-dark-theme &
    stroke b2c-white

.input-label
  color main-color05
  font-size 12px
  line-height 16px
  margin-top 3px

  .{newAppName}-dark-theme
    &
      color b2c-white05

    .{newAppName}-card &
      color main-color05

  .text-field--error + &
    display none

@keyframes showClearInput
  0%
    opacity 0
    visibility hidden
    transform rotate(60deg)

  50%
    opacity .3
    visibility visible
    transform rotate(60deg)

  100%
    opacity .7
    visibility visible
    transform rotate(0)
