.input {
    &-element {
        border: none;
        width: 100%;
        outline: none;
        padding-bottom: 10px;
        padding-right: 23px;
        position: relative;
        z-index: 2;
        background-color: transparent;
        color: main-color;
        appearance:field;
        &[disabled] {
            color: b2c-cool-grey03; //color: b2c-cool-grey05;
        }
        .{newAppName}-card--has-white-color &,
        .{newAppName}-input--white & {
            color: white;
            .{newAppName}-dark-theme & {
                color: white;
            }
        }
        .{newAppName}-dark-theme & {
            color: #fff;
        }
        .{newAppName}-card & {
            color: main-color;
        }
    }
    &-clear {
        position: absolute;
        right: 0;
        top: 25px;
        cursor: pointer;
        z-index: 2;
        opacity: 0.7;
        transition-timing-function: ease-in-out;
        transition-property: opacity, transform ;
        transition-duration: 0.4s;
        animation: 0.3s showClearInput ease-in-out;
        &__icon {
            fill: b2b-black;
            .{newAppName}-dark-theme &,
            .{newAppName}-input--white & {
                fill: white;
            }
            .{newAppName}-card & {
                fill: b2b-black;
            }
            .{newAppName}-card--has-white-color & {
                fill: white;
            }
        }
        &:hover {
            opacity: 1;
            transform: rotate(180deg)

        }
    }
}

@keyframes showClearInput {
    0% {
        opacity: 0
        visibility: hidden
        transform: rotate(60deg)
    }
    50% {
        opacity: 0.3
        visibility: visible
        transform: rotate(60deg)
    }
    100% {
        opacity: 0.7
        visibility: visible
        transform: rotate(0deg)
    }
}
