.{newAppName}-link
  color b2c-purple
  cursor pointer
  transition-timing-function linear
  transition-duration .2s
  transition-property opacity
  &:hover
    opacity .65
  .{newAppName}-dark-theme &
    color b2c-orange

  &-back
    color main-color
    position relative
    &-wrapper
      display inline-block
      &:hover
        .rt-link-arrow
          left -5px
  &-arrow
    position relative
    transition left .3s ease-in


.{newAppName}-link--orange
  color b2c-orange

.{newAppName}-link--blue
  color b2c-light-blue-low

  &:hover
    color rgba(b2c-light-blue-low, .7)
