.{newAppName}-link
  transition-timing-function ease-in-out
  transition-duration .4s
  transition-property color
  cursor: pointer
  &:hover
    color b2c-purple

.{newAppName}-link--purple
  color b2c-purple

.{newAppName}-link--blue
  color b2c-light-blue-low
  &:hover
    color rgba(b2c-light-blue-low, 0.7)
