.rt-logo-line
  display: inline-block
  width: 1px
  padding-left: horizontal-space
  padding-right: horizontal-space
  height: 115px
  position: relative
  &:before
    content: ''
    position: absolute
    width: 1px
    height: 100%
    background-color: #fff
    left: 0
    right: 0
    top: 0
    bottom: 0
    margin-left: auto
    margin-right: auto
