.rt-pattern
  height: 100%
  position: relative
  top: 0
  bottom: 0
  left -20px
  overflow-x hidden
  &--main-color
    fill main-color
  &--error-color
    fill error-color
  &--b2c-purple
    fill b2c-purple
  &--b2c-purple-low
    fill b2c-purple-low
  &--b2c-purple-high
    fill b2c-purple-high
  &--b2c-red
    fill b2c-red
  &--b2c-red-low
    fill b2c-red-low
  &--b2c-red-high
    fill b2c-red-high
  &--b2c-dark-blue
    fill b2c-dark-blue
  &--b2c-dark-blue-low
    fill b2c-dark-blue-low
  &--b2c-dark-blue-high
    fill b2c-dark-blue-high
  &--b2c-light-blue
    fill b2c-light-blue
  &--b2c-light-blue-low
    fill b2c-light-blue-low
  &--b2c-light-blue-high
    fill b2c-light-blue-high
  &--b2c-yellow
    fill b2c-yellow
  &--b2c-yellow-low
    fill b2c-yellow-low
  &--b2c-yellow-high
    fill b2c-yellow-high
  &--b2c-orange
    fill b2c-orange
  &--b2c-orange-low
    fill b2c-orange-low
  &--b2c-orange-high
    fill b2c-orange-high
  &--b2c-pink
    fill b2c-pink
  &--b2c-pink-low
    fill b2c-pink-low
  &--b2c-pink-high
    fill b2c-pink-high
  &--b2c-green
    fill b2c-green
  &--b2c-green-low
    fill b2c-green-low
  &--b2c-green-high
    fill b2c-green-high
  &--b2c-cool-grey
    fill b2c-cool-grey
  &--b2b-cool-grey05-no-opacity
    fill b2b-cool-grey05-no-opacity
  &--b2b-state
    fill b2b-state
  &--b2b-dark-state
    fill b2b-dark-state
  &--b2b-burgundy
    fill b2b-burgundy
  &--b2c-white
    fill b2c-white
  &--light-grey
    fill light-grey
  .rt-banner &
    @media (min-width: tablet-lower-limit)
      display none

  .{newAppName}-banner-container &
    width: 100vw
