.floating-placeholder
  max-width 100%
  overflow hidden
  color main-color07
  text-overflow ellipsis
  white-space nowrap
  position absolute
  top 22px
  z-index 1
  transition-timing-function ease-in-out
  transition-duration .2s
  transition-property background, font-size, top, color

  .{newAppName}-dark-theme
    .{newAppName}-card &
      color main-color07

  .{newAppName}-dark-theme &
    color b2c-white07

  .{newAppName}-input--white
    &
      color b2c-white07

    .{newAppName}-card &
      color main-color07

  .{newAppName}-card--has-white-color &
    color b2c-white07

  .textarea--static &
    left 20px

  .input-element:focus+.text-field__line+&,
  &--go-top
    font-size 14px
    top 0

  .input-element:focus+.text-field__line+&
    color b2c-purple

  .select--disabled+.text-field__line+ &,
  .input-element[disabled]+.text-field__line+ &,
  .textarea--disabled+.text-field__line+ &
    color main-color03

  .text-field--error &
    color error-color

  .textarea-element:focus+.text-field__line+&
    top 0
