.floating-placeholder
  max-width 100%
  overflow hidden
  color input-placeholder-color
  text-overflow ellipsis
  white-space nowrap
  opacity .5
  position absolute
  top 22px
  z-index 1
  transition-timing-function ease-in-out
  transition-duration .2s
  transition-property background, font-size, top, color

  .{newAppName}-dark-theme &,
  .{newAppName}-input--white &
    color #FFFFFF

  .{newAppName}-card &
    color main-color

  .{newAppName}-card--has-white-color &
    color #FFFFFF

  .textarea--static &
    left 20px

  .textarea-element:focus+.text-field__line+&,
  .input-element:focus+.text-field__line+&,
  &--go-top
    font-size 14px
    top 0

  .textarea--static.textarea--not-empty &,
  .textarea--static .textarea-element &--go-top,
  .textarea--static .textarea-element:focus+&
    font-size 14px
    top 10px
