
.{newAppName}-popup-wrapper
  position: fixed
  display: flex
  left: 0
  right: 0
  top: 0
  bottom: 0
  justify-content: center;
  align-items center
  z-index: 100
  width: 100%
  height: 100%
  flex: 1
  max-width: 100%
  opacity: 0
  visibility: hidden
  z-index: -1
  transition-timing-function ease-in-out
  transition-duration .4s
  transition-property opacity, visibility
  pointer-events none
.{newAppName}-popup-content
  max-height: 80vh
  overflow: auto
.{newAppName}-popup-content-td
  max-height: 80vh
  overflow: auto
.{newAppName}-popup-wrapper-td
  @media (max-width: tablet-step-size)
    position: fixed
    display: flex
    left: 0
    right: 0
    top: 0
    bottom: 0
    justify-content: center;
    align-items center
    z-index: 100
    width: 100%
    height: 100%
    flex: 1
    max-width: 100%
    opacity: 0
    visibility: hidden
    transition-timing-function ease-in-out
    transition-duration .4s
    transition-property opacity, visibility
    z-index: 100

.{newAppName}-popup-wrapper--is-active
.{newAppName}-popup-wrapper-td--is-active

  opacity: 1
  visibility: visible

.{newAppName}-popup
  background-color: white
  padding-left: horizontal-space
  padding-right: horizontal-space
  padding-top: vertical-space*2
  padding-bottom: vertical-space*2
  box-shadow 0 20px 25px 0 main-color05

.{newAppName}-popup--td
  @media (max-width: tablet-step-size)
    background-color: white
    padding-left: horizontal-space
    padding-right: horizontal-space
    padding-top: vertical-space*2
    padding-bottom: vertical-space*2
    box-shadow 0 20px 25px 0 main-color05

.{newAppName}-popup--filter
  width: 300px
