.{newAppName}-product-card
  border-radius 10px
  color white
  min-height: 364px
  max-height: calc((1340px / 4))
  width: 100%
  background-color: #313a49
  @media (max-width: tablet-upper-limit)
    min-height: 300px
  &.{newAppName}-product-card--has-fixed-height
    max-height: 364px
    min-height: 364px
    @media (max-width: tablet-upper-limit)
      max-height: 300px
      min-height: 300px
  @supports (display: grid)
    display: grid
    grid-template-columns: 1fr 1fr







  @media (max-width: mobile-upper-limit)
    flex-direction: column-reverse
    @supports (display: grid)
      display: grid
      grid-template-columns: 2fr
      grid-template-rows: 1fr 1fr
      grid-template-areas "header"\
                          "footer"
      &.{newAppName}-product-card--has-static-image-with-fix-height
        grid-template-rows: 0fr 0fr
  @media (max-width: mobile-upper-limit)
    min-height: 500px
    &.{newAppName}-product-card--has-fixed-height
      min-height: 300px
    &.{newAppName}-product-card--has-static-image-with-fix-height
      min-height: initial
      max-height: initial


.{newAppName}-product-card__content
  flex: 1 1 auto
  display: flex
  flex-direction column
  align-items: flex-start
  padding 40px
  @media (max-width: tablet-upper-limit)
    padding: 20px

.{newAppName}-product-card__image
  flex: 1 1 auto
  padding 20px
  background-size: cover
  background-position: center center
  background-repeat: no-repeat
  min-height: 50%

  @media (min-width: tablet-lower-limit)
    border-radius 0 10px 10px 0
  @media (max-width: mobile-upper-limit)
    border-radius  10px 10px 0 0
    @supports (display: grid)
      grid-area: header
.rt-product-card__image-tag

  min-height: initial
  padding: 0
  @media (max-width: mobile-upper-limit)
    width: 100%
.{newAppName}-product-card__image--hide-animate
    animation 0.4s hideCardImage linear
.{newAppName}-product-card__image--show-animate
    animation 0.4s showCardImage linear

.{newAppName}-product-card__body
  flex: 1 1 auto
  display: flex
  flex-direction column
  @media (max-width: mobile-upper-limit)
    @supports (display: grid)
      grid-area: footer

@keyframes hideCardImage
  0%
    opacity 1
  100%
    opacity 0
@keyframes showCardImage
  0%
    opacity 0
  100%
    opacity 1
