.{newAppName}-row-list
  &__header
    display flex
    &--has-more-content
      cursor pointer
    @media (max-width: iphone8)
      flex-direction column

  &__body
    max-height 0
    overflow hidden
    opacity 0
    top -40px
    transition-timing-function ease-in-out
    transition-duration .4s
    transition-property height, max-height, padding, opacity, top

    &--has-icon-padding
      padding-left 76px

    .{newAppName}-row-list__item--active &
      max-height 200vh
      padding-top vertical-space * 1.5
      opacity 1
      top 0

  &__item
    display flex
    flex-direction column
    padding-top vertical-space * .5
    padding-bottom vertical-space * .5

    @media (max-width: iphone8)
      flex-direction column

    &+&
      border-top 1px solid card-list-border

  &__icon
    display flex

    @media (max-width: iphone8)
      flex-direction column
      justify-content left
      align-items start
      min-height fit-content
      padding-top vertical-space * .5
      padding-bottom vertical-space * .5

    align-items center

  &__content
    display flex

    @media (max-width: iphone8)
      flex-direction column
      justify-content left
      align-items start
      min-height fit-content

    align-items center

  &__option
    display flex

    @media (max-width: iphone8)
      flex-direction column
      justify-content left
      align-items start
      min-height fit-content

  &__value
    display flex
    justify-content flex-end
    align-items center

    @media (max-width: mobile-upper-limit)
      justify-content flex-start
      align-items start

    @media (max-width: iphone8)
      flex-direction column
      min-height fit-content
      padding-top vertical-space * .5

.{b2bAppName}-profit
  .{newAppName}-row-list__header
    width 70%
    max-width 500px
    margin 0 auto
    padding-top 15px
    padding-bottom 15px
    @media (max-width: tablet-upper-limit)
      width 90%
    @media (max-width: mobile-upper-limit)
      width: 100%
      flex-direction row
      max-width none
  &+&
    border-top: none
  .{newAppName}-row-list__icon
    margin-right 20px
    flex-basis: 80px
    flex-shrink: 0
    text-align: center
    align-items initial
    width 80px
    height 80px
    background-repeat: no-repeat
    background-size contain
    background-position: 50% 0
  .{newAppName}-font-paragraph
    margin-bottom: 5px

.ovh
  overflow: hidden

.{b2bAppName}-profit-list
  padding 50px 80px
  color b2c-white
  @media (max-width: tablet-upper-limit)
    padding 30px 20px
  @media (max-width: mobile-upper-limit)
    padding 30px 40px
