.select
  width 100%

  .{newAppName}-dark-theme &
    color white

  &--is-reset-width
    width auto !important

  &__inner
    display block
    width 100%
    text-align left

  &-arrow
    position absolute
    top 30px
    right 0
    transform rotate(0)
    transition-timing-function ease-in-out
    transition-duration .2s
    transition-property transform

    .select--is-open &
      transform rotate(180deg)

    &__icon
      opacity .7
      transition-timing-function ease-in-out
      transition-duration .2s
      transition-property opacity, fill
      fill b2c-black

      .{newAppName}-dark-theme &
        fill white

      .select:hover &
        opacity 1

      .select--disabled &
        opacity .3 !important

  &-value
    margin-top -5px
    padding-top 5px
    padding-bottom 5px
    cursor pointer

    .select--disabled &
      color b2c-cool-grey03
      cursor default

  &-input
    max-width 100%
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
    padding-right 20px

  &-list
    width 100%
    max-height 0
    overflow-y auto
    font-size 14px
    background-color white
    box-shadow 0 5px 10px box-shadow-background
    opacity 0
    visibility hidden
    position absolute
    top 52px
    z-index 2
    transition-timing-function ease-in-out
    transition-duration .2s
    transition-property opacity, visibility, height, max-height

    .select--invert-open-list &
      box-shadow 0 -5px 10px box-shadow-background
      top initial
      bottom 56px

    .{newAppName}-dark-theme &
      background-color dark-theme-dropdown-background

    .select--is-open &
      max-height 200px
      opacity 1
      visibility visible

    &-native
      display block
      width calc(100% - 20px)
      overflow hidden
      text-indent 1px
      text-overflow ellipsis
      white-space nowrap
      background none
      border none
      outline none
      -webkit-appearance none
      -moz-appearance none

  &-option
    &__inner
      display block
      width 100%
      line-height 20px
      text-align left
      border none
      padding-top 6px
      padding-bottom 7px
      padding-left 14px
      padding-right 14px
      cursor pointer

      .select-option--select &
        color inherit
        font-weight 800

      &:focus,
      &:hover
        color white
        background-color b2c-purple-hight
        transition-duration 0s
