.rt-slide-content-vertical-content
  max-height 0
  overflow hidden
  opacity 0
  visibility hidden
  position relative
  top -20px
  transition-timing-function ease-in-out
  transition-duration .5s
  transition-property max-height, opacity, visibility, top, height
  pointer-events none

  &--is-active
    max-height 2000 px
    opacity 1
    visibility visible
    top 0
    pointer-events all
