.rt-sticky-bottom-line
  position: fixed;
  left: 0
  right: 0
  bottom: -100vh
  width: 100%
  padding-bottom: 15px
  padding-top: 15px
  background-color: #fff
  box-shadow 0 0 5px 0 rgba(16,24,40,20)

  @media (max-width: mobile-upper-limit)
    padding-top: 10px
    padding-bottom: 10px

