.rt-sticky-bottom-line
  position: fixed;
  left: 0
  right: 0
  bottom: 0
  width: 100%
  padding-bottom: 20px
  padding-top: 20px
  background-color: #fff
  box-shadow 0 0 10px 0 rgba(0,0,0,50)
  animation 0.2s showLine linear

@keyframes showLine
  0%
    opacity 0
  100%
    opacity 1


