.rt-sticky-bottom-line
  position: fixed;
  left: 0
  right: 0
  bottom: -100vh
  width: 100%
  padding-bottom: 20px
  padding-top: 20px
  background-color: #fff
  box-shadow 0 0 10px 0 rgba(0,0,0,50)
  animation 0.5s showLine linear


