.svg-fill--b2c-purple
  fill b2c-purple
.svg-fill--b2c-purple01
  fill b2c-purple01
.svg-fill--b2c-purple-low
  fill b2c-purple-low
.svg-fill--b2c-purple-high
  fill b2c-purple-high

.svg-fill--b2c-red
  fill b2c-red
.svg-fill--b2c-red-low
  fill b2c-red-low
.svg-fill--b2c-red-high
  fill b2c-red-high

.svg-fill--b2c-dark-blue
  fill b2c-dark-blue
.svg-fill--b2c-dark-blue-low
  fill b2c-dark-blue-low
.svg-fill--b2c-dark-blue-high
  fill b2c-dark-blue-high

.svg-fill--b2c-light-blue
  fill b2c-light-blue
.svg-fill--b2c-light-blue-low
  fill b2c-light-blue-low
.svg-fill--b2c-light-blue-high
  fill b2c-light-blue-high

.svg-fill--b2c-yellow
  fill b2c-yellow
.svg-fill--b2c-yellow-low
  fill b2c-yellow-low
.svg-fill--b2c-yellow-high
  fill b2c-yellow-high

.svg-fill--b2c-orange
  fill b2c-orange
.svg-fill--b2c-orange-low
  fill b2c-orange-low
.svg-fill--b2c-orange-high
  fill b2c-orange-high

.svg-fill--b2c-pink
  fill b2c-pink
.svg-fill--b2c-pink-low
  fill b2c-pink-low
.svg-fill--b2c-pink-high
  fill b2c-pink-high

.svg-fill--b2c-green
  fill b2c-green
.svg-fill--b2c-green-low
  fill b2c-green-low
.svg-fill--b2c-green-high
  fill b2c-green-high

.svg-fill--main-color
  fill main-color
.svg-fill--main-color09
  fill main-color09
.svg-fill--main-color08
  fill main-color08
.svg-fill--main-color07
  fill main-color07
.svg-fill--main-color06
  fill main-color06
.svg-fill--main-color05
  fill main-color05
.svg-fill--main-color04
  fill main-color04
.svg-fill--main-color03
  fill main-color03
.svg-fill--main-color02
  fill main-color02
.svg-fill--main-color01
  fill main-color01
.svg-fill--main-color003
  fill main-color003

.svg-fill--main-color09-no-opacity
  fill main-color09-no-opacity
.svg-fill--main-color07-no-opacity
  fill main-color07-no-opacity
.svg-fill--main-color05-no-opacity
  fill main-color05-no-opacity
.svg-fill--main-color03-no-opacity
  fill main-color03-no-opacity
.svg-fill--main-color01-no-opacity
  fill main-color01-no-opacity
.svg-fill--main-color003-no-opacity
  fill main-color003-no-opacity

.svg-fill--b2c-cool-grey
  fill b2c-cool-grey
.svg-fill--b2c-cool-grey07
  fill b2c-cool-grey07
.svg-fill--b2c-cool-grey05
  fill b2c-cool-grey05
.svg-fill--b2c-cool-grey03
  fill b2c-cool-grey03
.svg-fill--b2b-cool-grey05-no-opacity
  fill b2b-cool-grey05-no-opacity

.svg-fill--b2c-purple-high05
  fill b2c-purple-high05
.svg-fill--b2c-purple-high02
  fill b2c-purple-high02
.svg-fill--b2c-orange-high05
  fill b2c-orange-high05
.svg-fill--b2c-orange-high02
  fill b2c-orange-high02

.svg-fill--b2b-state
  fill b2b-state
.svg-fill--b2b-dark-state
  fill b2b-dark-state
.svg-fill--b2b-burgundy
  fill b2b-burgundy

.svg-fill--b2c-white
  fill b2c-white
.svg-fill--b2c-white09
  fill b2c-white09
.svg-fill--b2c-white08
  fill b2c-white08
.svg-fill--b2c-white07
  fill b2c-white07
.svg-fill--b2c-white06
  fill b2c-white06
.svg-fill--b2c-white05
  fill b2c-white05
.svg-fill--b2c-white04
  fill b2c-white04
.svg-fill--b2c-white03
  fill b2c-white03
.svg-fill--b2c-white02
  fill b2c-white02
.svg-fill--b2c-white01
  fill b2c-white01

.svg-fill--dark-card-background
  fill dark-card-background
.svg-fill--disable-button-color
  fill disable-button-color
.svg-fill--disable-button-color-dark-theme
  fill disable-button-color-dark-theme
.svg-fill--card-list-border
  fill card-list-border
.svg-fill--default-wive-color
  fill default-wive-color
.svg-fill--error-color
  fill error-color
.svg-fill--error-color-text
  fill error-color-text
.svg-fill--box-shadow-background
  fill box-shadow-background
.svg-fill--dark-theme-dropdown-background
  fill dark-theme-dropdown-background
.svg-fill--light-grey
  fill light-grey
.svg-fill--rule-color
  fill rule-color
.svg-fill--switcher-color
  fill switcher-color
.svg-fill--game-promo-color
  fill game-promo-color
