swiperName = "rtk-carousel"
swiperZIndex = 10
scrollHSpace = 10px
scrollHSpacePC = 70px

.{swiperName}
  position relative
  z-index swiperZIndex
  //max-width: 1480px
  //margin: 0 auto


  @media (max-width: tablet-upper-limit)
    //padding: 0 70px
    max-width: none
    //margin: 0 auto
    //width 100vw

  &__container
    display block
    position relative

  &__overlay
    display block
    overflow hidden
    overflow-x auto
    -webkit-overflow-scrolling touch
    white-space nowrap
    position relative
    transform translate3d(0, 0, 0)
    -ms-overflow-style none
    scrollbar-width none
    //max-width: 1340px
    //width: calc(100vw - 140px)
    margin: 0 auto
    width calc(100vw - (100vw - 100%))
    @media (max-width: tablet-upper-limit)
      padding-right 0
      padding-left 0
      //width calc(100vw - (100vw - 100%))

  &__overlay::-webkit-scrollbar
    display none

  &__inner
    display flex
    flex-direction row
    white-space normal
    padding 30px 0 10px
    width calc(100vw - (100vw - 100%) - 140px)
    max-width 1340px
    @media (max-width: tablet-upper-limit)
      width calc(100vw - (100vw - 100%))

  &__inner-default
    flex-wrap wrap

  &__spacer
    display flex

  &-slide
    opacity 1
    position relative
    z-index swiperZIndex + 1
    backface-visibility hidden
    user-select none
    @media (max-width: laptop-upper-limit) and (min-width: desktop-lower-limit)
      max-width calc(275px + 20px)
    @media (max-width: tablet-upper-limit)
      width calc(35vw + 20px)
    @media (max-width: mobile-upper-limit)
      width calc(75vw + 20px)

    &.marked
      transform scale(1.02)

    &.not-shown
      opacity .5
      pointer-events none

  &.is-touch-device
    .{swiperName}__overlay
      overflow auto

    .{swiperName}__inner
      overflow-x auto
      overflow-y hidden
      -webkit-scroll-padding-inline-start scrollHSpace
      scroll-padding-inline-start scrollHSpace
      -webkit-scroll-snap-type mandatory
      -webkit-scroll-snap-type-x mandatory
      scroll-snap-type mandatory
      scroll-snap-type x mandatory

    .{swiperName}-slide
      max-width 90vw
      user-select none
      -webkit-scroll-snap-align start
      scroll-snap-align start

      &:first-child
        @media (max-width: tablet-upper-limit)
          margin-left scrollHSpace

    //.{swiperName}__spacer
    //  @media (max-width: mobile-upper-limit)
    //    min-width scrollHSpace

    .{swiperName}__spacer
      @media (max-width: tablet-upper-limit)
        min-width scrollHSpace

    //@media (min-width: 1025px)
    //  .{swiperName}__inner
    //    scroll-padding-inline-start scrollHSpacePC
    //
    //  .{swiperName}-slide
    //    &:first-child
    //      margin-left scrollHSpacePC
    //
    //  .{swiperName}__spacer
    //    min-width scrollHSpacePC

  &.is-animating,
  &.is-disabled-scrolling
    .{swiperName}__overlay
      overflow-x hidden

    .{swiperName}.is-touch-device
      .{swiperName}__inner
        overflow-x hidden

  &.is-animating,
  &.is-scrolling
    .{swiperName}-slide
      pointer-events none

  &.show-no-move-prev
    animation show-no-moves-prev .9s ease-in-out

  &.show-no-move-next
    animation show-no-moves-next .9s ease-in-out

//.hide-navigation
//  @media (min-width: laptop-lower-limit)
//    padding: 0 70px

.in-plus-card
  @media (max-width: laptop-upper-limit) and (min-width: desktop-lower-limit)
    max-width calc(275px + 20px)
  @media (max-width: tablet-upper-limit)
    min-width calc(35vw + 20px)
    max-width none
  @media (max-width: mobile-upper-limit)
    min-width calc(75vw + 20px)

keyframes show-no-moves-prev
  0%
    transform translateX(0)

  50%
    transform translateX(40px)

  100%
    transform translateX(0)

keyframes show-no-moves-next
  0%
    transform translateX(0)

  50%
    transform translateX(-40px)

  100%
    transform translateX(0)

//background-image="/sites/default/files/b2b/product_cards_main/mobile_365x217.jpg"
