.{newAppName}-table
  display table
  width 100%
  text-align left
  table-layout fixed

  @media (max-width: tablet-step-size)
    width 100%
    padding-bottom 15px

  &-colgroup
    display table-column-group

    @media (max-width: tablet-step-size)
      display none

  &-col
    display table-column

  &-head
    display table-header-group

    &--fill
      background-color rgba(b2c-purple, .2)

    &__item
      display table-cell
      color b2c-black06
      padding-bottom 10px
      vertical-align top

      .rt-dark-theme &
        color b2b-white06

      &:first-child
        @media (max-width: tablet-step-size)
          display none

      @media (max-width: tablet-step-size)
        display block
        width auto !important
        text-align left !important
        padding-left 0
        padding-right 0

      padding-left horizontal-space * .5
      padding-right horizontal-space * .5

      & + &
        @media (max-width: tablet-step-size)
          display none

  &-body
    &__row
      display table-row

      @media (max-width: tablet-step-size)
        display flex
        flex-direction row
        flex-wrap wrap
        width 100%
        padding-bottom 10px

      &--fill
        background-color rgba(b2c-purple, .2)

      & + &
        @media (max-width: tablet-step-size)
          .{newAppName}-dark-theme &
            border-top 2px solid b2b-white05

          border-top 2px solid b2c-cool-grey05

        .{newAppName}-table-body__item
          .{newAppName}-dark-theme &
            @media (min-width: mobile-step-size)
              border-top 2px solid b2b-white05

          @media (min-width: tablet-step-size)
            border-top 2px solid b2c-cool-grey05

    &__content
      @media (max-width: tablet-step-size)
        flex 0 0 66.666666%
        max-width 66.666666%
        padding-left horizontal-space
        padding-right 0

      @media (max-width: mobile-step-size)
        flex 0 0 100%
        max-width 100%
        padding-left 0
        padding-right 0

    &__item
      display table-cell
      padding-top 15px
      padding-bottom 25px
      vertical-align top

      @media (max-width: tablet-step-size)
        display flex
        flex 0 0 100%
        flex-direction row
        justify-content space-around
        align-self stretch
        width 100%
        width auto !important
        max-width 100%
        min-height fit-content
        text-align left !important
        padding-top 10px
        padding-bottom 10px
        padding-left 0
        padding-right 0

      padding-left horizontal-space * .5
      padding-right horizontal-space * .5

      @media (max-width: mobile-step-size)
        flex-direction column
        padding-bottom 10px
        padding-left 0
        padding-right 0

      &:first-child
        .rt-table-body__content
          @media (max-width: tablet-step-size)
            flex 0 1 100%
            width 100%
            max-width 100%
            color b2c-black
            font-size 28px
            padding-left 0
            padding-right 0

            .rt-dark-theme &
              color b2b-white

            font-weight 200

        @media (max-width: tablet-step-size)
          display block
          flex 0 1 100%
          width 100%
          padding-bottom 20px

          &:before
            display none

      &:before
        @media (max-width: tablet-step-size)
          content attr(label)
          display block
          flex 0 0 33.333333%
          max-width 33.333333%
          box-sizing border-box
          color b2c-black06
          font-size 16px
          padding-bottom horizontal-space * .25
          padding-left 0
          padding-right 20px

          .rt-dark-theme &
            color b2b-white06

        @media (max-width: mobile-step-size)
          flex 0 0 100%
          max-width 100%
          padding-bottom 10px
          padding-left 0
          padding-right 0

      &--half-mobile-width
        @media (max-width: mobile-step-size)
          flex 0 0 50%
          max-width 50%
