.{newAppName}-tabs
  width 100%
  font-size 18px

  &-navigation
    display flex
    flex-direction row
    width 100%
    margin-left -10px
    margin-right -10px

    &__item
      padding-left 10px
      padding-right 10px
      cursor pointer

      &-name
        box-sizing border-box
        border none
        outline none
        padding-bottom horizontal-space
        position relative
        text-align: inherit

        &:before
          content ""
          width 0
          width 0
          height 2px
          text-shadow 0 0 0
          border-bottom 2px solid transparent
          position absolute
          bottom 0
          left 0
          right 0
          transition-timing-function ease-in-out
          transition-duration .2s
          transition-property border, width, text-shadow

        &:hover,
        &:focus,
        .{newAppName}-tabs-navigation__item--is-active &
          &:before
            width 100%
            border-bottom-color inherit

        .{newAppName}-tabs-navigation__item--is-active &
          cursor default

        cursor pointer
