.{newAppName}-tag-list
  &--color-purple
    .{newAppName}-tag--is-active
      background b2c-purple

    .{newAppName}-tag:hover
      background b2c-purple

  &--color-purple-low
    .{newAppName}-tag--is-active
      background b2c-purple-low

    .{newAppName}-tag:hover
      background b2c-purple-low

  &--color-purple-hight
    .{newAppName}-tag--is-active
      background b2c-purple-hight

    .{newAppName}-tag:hover
      background b2c-purple-hight

  &--color-red
    .{newAppName}-tag--is-active
      background b2c-red

    .{newAppName}-tag:hover
      background b2c-red

  &--color-red-low
    .{newAppName}-tag--is-active
      background b2c-red-low

    .{newAppName}-tag:hover
      background b2c-red-low

  &--color-red-hight
    .{newAppName}-tag--is-active
      background b2c-red-hight

    .{newAppName}-tag:hover
      background b2c-red-hight

  &--color-dark-blue
    .{newAppName}-tag--is-active
      background b2c-dark-blue

    .{newAppName}-tag:hover
      background b2c-dark-blue

  &--color-dark-blue-low
    .{newAppName}-tag--is-active
      background b2c-dark-blue-low

    .{newAppName}-tag:hover
      background b2c-dark-blue-low

  &--color-dark-blue-hight
    .{newAppName}-tag--is-active
      background b2c-dark-blue-hight

    .{newAppName}-tag:hover
      background b2c-dark-blue-hight

  &--color-light-blue
    .{newAppName}-tag--is-active
      background b2c-light-blue

    .{newAppName}-tag:hover
      background b2c-light-blue

  &--color-light-blue-low
    .{newAppName}-tag--is-active
      background b2c-light-blue-low

    .{newAppName}-tag:hover
      background b2c-light-blue-low

  &--color-light-blue-hight
    .{newAppName}-tag--is-active
      background b2c-light-blue-hight

    .{newAppName}-tag:hover
      background b2c-light-blue-hight

  &--color-yellow
    .{newAppName}-tag--is-active
      background b2c-yellow

    .{newAppName}-tag:hover
      background b2c-yellow

  &--color-yellow-low
    .{newAppName}-tag--is-active
      background b2c-yellow-low

    .{newAppName}-tag:hover
      background b2c-yellow-low

  &--color-yellow-hight
    .{newAppName}-tag--is-active
      background b2c-yellow-hight

    .{newAppName}-tag:hover
      background b2c-yellow-hight

  &--color-orange
    .{newAppName}-tag--is-active
      background b2c-orange

    .{newAppName}-tag:hover
      background b2c-orange

  &--color-orange-low
    .{newAppName}-tag--is-active
      background b2c-orange-low

    .{newAppName}-tag:hover
      background b2c-orange-low

  &--color-orange-hight
    .{newAppName}-tag--is-active
      background b2c-orange-hight

    .{newAppName}-tag:hover
      background b2c-orange-hight

  &--color-pink
    .{newAppName}-tag--is-active
      background b2c-pink

    .{newAppName}-tag:hover
      background b2c-pink

  &--color-pink-low
    .{newAppName}-tag--is-active
      background b2c-pink-low

    .{newAppName}-tag:hover
      background b2c-pink-low

  &--color-pink-hight
    .{newAppName}-tag--is-active
      background b2c-pink-hight

    .{newAppName}-tag:hover
      background b2c-pink-hight

  &--color-green
    .{newAppName}-tag--is-active
      background b2c-green

    .{newAppName}-tag:hover
      background b2c-green

  &--color-green-low
    .{newAppName}-tag--is-active
      background b2c-green-low

    .{newAppName}-tag:hover
      background b2c-green-low

  &--color-green-hight
    .{newAppName}-tag--is-active
      background b2c-green-hight

    .{newAppName}-tag:hover
      background b2c-green-hight

  &--color-black
    .{newAppName}-tag--is-active
      background b2c-black

    .{newAppName}-tag:hover
      background b2c-black

.{newAppName}-tag
  font-size 14px
  background-color b2c-black005
  border-radius 25px
  margin-top 10px
  margin-bottom 10px
  margin-left 10px
  margin-right 10px
  padding-top 6px
  padding-bottom 4px
  padding-left 15px
  padding-right 15px
  cursor pointer
  transition-timing-function ease-in-out
  transition-duration .4s
  transition-property background-color, color

  .{newAppName}-dark-theme &
    background-color b2c-white01

  &:hover,
  &--is-active
    .{newAppName}-dark-theme &
      color b2c-white
      background-color b2c-purple

    color b2c-white
    background-color b2c-purple
