.{newAppName}-tag {
  margin-left: 10px
  margin-right: 10px
  margin-top: 10px
  margin-bottom: 10px
  padding-left: 15px
  padding-right: 15px
  padding-top: 6px
  padding-bottom: 4px
  background-color: b2c-dark005
  border-radius 25px
  cursor: pointer
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
  transition-duration: 0.4s;
  font-size: 14px
  .{newAppName}-dark-theme & {
    background-color: b2b-white01
  }
  &:hover,
  &--is-active {
    .{newAppName}-dark-theme & {
      background-color: b2c-purple-low
      color: b2b-white
    }
    background-color: b2c-purple-low
    color: b2b-white
  }
}

