.rt-tag
  .{newAppName}-dark-theme &
    background-color b2c-white01
.{newAppName}-tag-list
  &--color-purple
    .{newAppName}-tag--is-active,
      .rt-dark-theme &, &
        background b2c-purple

    .{newAppName}-tag:hover
      .rt-dark-theme &, &
        background b2c-purple

  &--color-purple-low
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background b2c-purple-low

    .{newAppName}-tag:hover
      .rt-dark-theme &, &
        background b2c-purple-low

  &--color-purple-high
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background b2c-purple-high

    .{newAppName}-tag:hover
      .rt-dark-theme &, &
        background b2c-purple-high

  &--color-red
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background b2c-red

    .{newAppName}-tag:hover
      .rt-dark-theme &, &
        background b2c-red

  &--color-red-low
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background b2c-red-low

    .{newAppName}-tag:hover
      .rt-dark-theme &, &
        background b2c-red-low

  &--color-red-high
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background b2c-red-high

    .{newAppName}-tag:hover
      .rt-dark-theme &, &
        background b2c-red-high

  &--color-dark-blue
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background b2c-dark-blue

    .{newAppName}-tag:hover
      .rt-dark-theme &, &
        background b2c-dark-blue

  &--color-dark-blue-low
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background b2c-dark-blue-low

    .{newAppName}-tag:hover
      .rt-dark-theme &, &
        background b2c-dark-blue-low

  &--color-dark-blue-high
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background b2c-dark-blue-high

    .{newAppName}-tag:hover
      .rt-dark-theme &, &
        background b2c-dark-blue-high

  &--color-light-blue
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background b2c-light-blue

    .{newAppName}-tag:hover
      .rt-dark-theme &, &
        background b2c-light-blue

  &--color-light-blue-low
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background b2c-light-blue-low

    .{newAppName}-tag:hover
      .rt-dark-theme &, &
        background b2c-light-blue-low

  &--color-light-blue-high
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background b2c-light-blue-high

    .{newAppName}-tag:hover
      .rt-dark-theme &, &
        background b2c-light-blue-high

  &--color-yellow
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background b2c-yellow

    .{newAppName}-tag:hover
      .rt-dark-theme &, &
        background b2c-yellow

  &--color-yellow-low
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background b2c-yellow-low

    .{newAppName}-tag:hover
      .rt-dark-theme &, &
        background b2c-yellow-low

  &--color-yellow-high
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background b2c-yellow-high

    .{newAppName}-tag:hover
      .rt-dark-theme &, &
        background b2c-yellow-high

  &--color-orange
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background b2c-orange

    .{newAppName}-tag:hover
      .rt-dark-theme &, &
        background b2c-orange

  &--color-orange-low
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background b2c-orange-low

    .{newAppName}-tag:hover
      .rt-dark-theme &, &
        background b2c-orange-low

  &--color-orange-high
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background b2c-orange-high

    .{newAppName}-tag:hover
      .rt-dark-theme &, &
        background b2c-orange-high

  &--color-pink
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background b2c-pink

    .{newAppName}-tag:hover
      .rt-dark-theme &, &
        background b2c-pink

  &--color-pink-low
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background b2c-pink-low

    .{newAppName}-tag:hover
      .rt-dark-theme &, &
        background b2c-pink-low

  &--color-pink-high
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background b2c-pink-high

    .{newAppName}-tag:hover
      .rt-dark-theme &, &
        background b2c-pink-high

  &--color-green
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background b2c-green

    .{newAppName}-tag:hover
      .rt-dark-theme &, &
        background b2c-green

  &--color-green-low
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background b2c-green-low

    .{newAppName}-tag:hover
      .rt-dark-theme &, &
        background b2c-green-low

  &--color-green-high
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background b2c-green-high

    .{newAppName}-tag:hover
      .rt-dark-theme &, &
        background b2c-green-high

  &--color-black
    .{newAppName}-tag--is-active
      .rt-dark-theme &, &
        background main-color

    .{newAppName}-tag:hover
      .rt-dark-theme &, &
        background main-color

.{newAppName}-tag,
.rt-tabs--tag-mode .rt-tabs-navigation__item .rt-tabs-navigation__item-name
  font-size 14px
  background-color main-color003
  border-radius 25px
  margin-top 10px
  margin-bottom 10px
  margin-left 10px
  margin-right 10px
  padding-top 6px
  padding-bottom 4px
  padding-left 15px
  padding-right 15px
  cursor pointer
  transition-timing-function ease-in-out
  transition-duration .4s
  transition-property background-color, color



  &:hover,
  &--is-active
    //.{newAppName}-dark-theme &
    //  color b2c-white
    //  background-color b2c-purple

    color b2c-white
    background-color b2c-purple
    .{newAppName}-dark-theme &
      color b2c-white
      background-color b2c-purple
.rt-tabs--tag-mode .rt-tabs-navigation__item--is-active .rt-tabs-navigation__item-name
  .{newAppName}-dark-theme &
    color b2c-white
    background-color b2c-purple

  color b2c-white
  background-color b2c-purple
.rt-tabs--tag-mode .rt-tabs-navigation__item .rt-tabs-navigation__item-name
  margin-left: 0
.rt-tabs--tag-mode .rt-tabs-navigation
  &:after
    display: none
.rt-tabs--tag-mode .rt-tabs-navigation__item+.rt-tabs-navigation__item
  margin-left: 0px
.rt-tabs--tag-mode .rt-tabs-navigation__item .rt-tabs-navigation__item-name
  &:before
    display: none!important
