.textarea
  width 100%
  height auto

  &-border
    box-sizing border-box
    border-radius 5px
    box-shadow 0 0 0 1px b2b-cool-gray inset
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    cursor pointer
    transition-timing-function ease-in-out
    transition-duration .4s
    transition-property box-shadow

    .textarea-element:focus+.floating-placeholder+&,
    .textarea:hover &
      box-shadow 0 0 0 2px b2c-purple-low inset

    .text-field--error &
      box-shadow 0 0 0 2px error-color inset !important

    .textarea--disabled &
      border 1px dashed b2b-gray !important
      box-shadow none !important

  &--static
    height 200px
    border-radius 5px
    padding-top 20px

  &-element
    display block
    width 100%
    width 100%
    min-height 30px
    box-sizing border-box
    background-color transparent
    border none
    outline none
    padding-top 0
    padding-bottom 10px
    padding-left 0
    padding-right 0
    position relative
    z-index 2
    resize none
    transition-timing-function ease-in-out
    transition-duration .2s
    transition-property margin, padding

    .textarea--static &
      height calc(100% - 20px)
      padding-left 20px
      padding-right 20px

    .textarea--static.textarea--not-empty &,
    .textarea--static &:focus
      margin-top 10px
      padding-top 10px

    &[disabled]
      color b2b-cool-gray
