.text-field
  display inline-block
  width 100%
  height 52px
  box-sizing border-box
  padding-top 22px
  position relative

  &__line
    width 100%
    height 2px
    background-color b2c-cool-grey
    position absolute
    bottom 0
    left 0
    right 0
    z-index 1b2c-cool-grey
    transition-timing-function ease-in-out
    transition-duration .2s
    transition-property background, height
    pointer-events none
    -webkit-appearance none
    appearance none
    -moz-appearance none

    .textarea &
      position relative

    &:before
      content ""
      width 0
      height 100%
      background b2c-purple
      position absolute
      transition-timing-function ease-in-out
      transition-duration .4s
      transition-property background, width
      -webkit-appearance none
      appearance none
      -moz-appearance none

    .select__inner:focus+&,
    .select:hover &,
    .select--is-open &,
    .input-element:hover+&,
    .input-element:focus+&,
    .textarea-element:hover+&,
    .textarea-element:focus+&
      &:before
        width 100%

    .select--disabled &,
    .input-element[disabled]+&,
    .textarea--disabled &
      height 2px
      background-color transparent
      border-bottom 2px b2c-black03 dashed

      &:before
        width 0
        height 0

    .text-field--error &
      height 2px

      &:before
        width 100%
        background-color error-color

  &__error-message
    color error-color
    font-size 14px
    opacity 0
    visibility hidden
    position absolute
    bottom -20px
    left 0
    transition-timing-function ease-in-out
    transition-duration .4s
    transition-property opacity, visibility

    .text-field--error &
      opacity .5
      visibility visible

    &:hover
      opacity 1
