.rt-youtube
  display: inline-block
  position: relative
  height 56.25%
  width 100%
  background-color: #000
  box-shadow 0 0 10px 0 #000
  padding-bottom: 56.25%;
  padding-top: 25px;
  iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.rt-youtube__controls
  position: absolute
  z-index: 1
  top: 0
  bottom: 0
  left: 0
  right: 0
  overflow-y: hidden




.rt-youtube__pause-space
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  cursor: pointer
  z-index: 1
.rt-youtube___not-ready
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  display: flex
  align-items center
  justify-content center

.rt-youtube___pause-image
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-size: cover
  background-position: center
  background-color: #484848
  opacity: 0
  visibility: hidden
  transition-timing-function ease-in-out
  transition-duration .4s
  transition-property opacity, visibility
  &--is-active
    opacity: 1
    visibility: visible


.rt-youtube__next
  position: absolute
  z-index: 1
  right: -60px
  width: 40px
  height: 20px
  top: 0
  bottom: 0
  margin-top: auto
  margin-bottom: auto
  cursor: pointer

.rt-youtube__previous
  position: absolute
  z-index: 1
  left: -40px
  width: 40px
  height: 20px
  top: 0
  bottom: 0
  margin-top: auto
  margin-bottom: auto
  cursor: pointer

.rt-youtube__sound-control
  cursor: pointer
  transition-timing-function ease-in-out
  transition-duration .2s
  transition-property opacity
  &--mute
    opacity: 0.3

.rt-youtube__volume
  width: 110px
  display: flex
  align-items center

  position: absolute
  left: 140px



.rt-youtube__volume__line
  width: 75px
  height: 2px
  background-color: rgba(255,255,255,0.3);
  z-index: 2
  right: 0
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute
  cursor: pointer
  transition-timing-function ease-in-out
  transition-duration .2s
  transition-property margin, height
  .rt-youtube__volume:hover &
    height: 4px


.rt-youtube__volume__now-line
  height: 2px
  background-color: b2c-orange
  position: absolute
  left: 0
  top: 0
  bottom: 0
  transition-timing-function ease-in-out
  transition-duration .2s
  transition-property top, height, margin
  .rt-youtube__volume:hover &
    height: 4px


.rt-youtube__volume__point
  position: absolute
  border-radius 50%
  background-color: b2c-orange
  cursor: pointer
  width: 0
  height: 0
  top: 1px
  margin-left: 0
  transition-timing-function ease-in-out
  transition-duration .2s
  transition-property opacity, visibility, top, width, height, margin
  .rt-youtube__volume:hover &

    width: 10px
    height: 10px
    top: -3px
    margin-left: -5px


.rt-youtube__menu
  position: absolute
  bottom: 0
  left: 0
  right: 0
  height: 29px
  background-color: #000
  padding-left: 20px
  padding-right: 20px
  display: flex
  align-items center
  margin-bottom: -29px
  opacity: 0
  z-index: 2
  transition-timing-function ease-in-out
  transition-duration .2s
  transition-property margin, opacity
  .rt-youtube__controls:hover &
    margin-bottom: 0
    opacity: 1
.rt-youtube-fraction
  background-color: rgba(218,218,218,0.3)
  position: absolute
  top: -2px
  left: 0px
  right: 0px
  height: 2px
  cursor: pointer
  transition-timing-function ease-in-out
  transition-duration .2s
  transition-property height, top
  &:hover
    top: -4px
    height: 4px


.rt-youtube-fraction__ready-line
  position: absolute
  left: 0
  top: 0
  height: 2px
  background-color: #fff
  transition-timing-function ease-in-out
  transition-duration .2s
  transition-property height
  .rt-youtube-fraction:hover &
    height: 4px


.rt-youtube-fraction__played-line {
  position: absolute
  left: 0
  top: 0
  height: 2px
  background-color: b2c-orange
  z-index: 3
  transition-timing-function ease-in-out
  transition-duration .2s
  transition-property height
  .rt-youtube-fraction:hover &{
    height: 4px
  }
}
.rt-youtube-fraction__played-point {
  position: absolute
  width: 0px
  height: 0px
  border-radius 50%
  background-color: b2c-orange
  z-index: 4
  top: 0px

  transition-timing-function ease-in-out
  transition-duration .2s
  transition-property opacity, visibility, top, width, height, margin
  .rt-youtube-fraction:hover &{
    width: 10px
    height: 10px
    top: -3px
    margin-left: -5px
  }
}
.rt-youtube__time
  margin-left: horizontal-space*0.5
  font-size: 11px
  margin-top: 3px
  letter-spacing 1px
  color: #fff

.rt-youtube-fraction__will-be-played
  position: absolute
  background-color: rgba(218,218,218,0.5)
  left: 0
  height: 2px
  transition-timing-function ease-in-out
  transition-duration .2s
  transition-property height
  .rt-youtube-fraction:hover &
    height: 4px


.rt-youtube__start-video{
  top: 0
  bottom: 0
  left: 0
  right: 0
  margin auto
  width: 46px
  height: 33px
  position: absolute
  z-index: 3
  cursor: pointer
}

.rt-youtube__change-icon{
  fill: b2c-cool-grey
  transition-timing-function ease-in-out
  transition-duration .4s
  transition-property fill
  .rt-youtube__change-video:hover &{
    fill: b2c-orange
  }
}
