.rt-youtube
  display: inline-block
  position: relative
  height 56.25%
  width 100%
  background-color: #000
  box-shadow 0 0 10px 0 #000
  padding-bottom: 56.25%;
  padding-top: 25px;
  iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.rt-youtube__controls
  position: absolute
  z-index: 1
  top: 0
  bottom: 0
  left: 0
  right: 0



.rt-youtube__play,
.rt-youtube__pause
  background-color: b2c-purple
  width: 50px
  height: 50px
  cursor: pointer
  fill #fff
  border-radius 50%
  margin auto
  position: absolute
  display: flex
  justify-content  center
  align-items center
  transition-timing-function ease-in-out
  transition-duration .4s
  transition-property opacity, visibility
  right: 0
  left: 0
  bottom: 20px
.rt-youtube__play
  .rt-youtube &
    opacity: 0.5
    visibility: visible
    &:hover
      opacity: 1
  .rt-youtube--is-active &
    opacity: 0
    visibility: hidden

.rt-youtube__pause
  .rt-youtube &
    opacity: 0
    visibility: hidden
  .rt-youtube--is-active &
    opacity: 0
    visibility: visible
  .rt-youtube--is-active:hover &
    opacity: 0.5

  .rt-youtube--is-active:hover &:hover
      opacity: 1
.rt-youtube___not-ready
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  display: flex
  align-items center
  justify-content center
.rt-youtube___pause-image
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-size: cover
  background-position: center
  .rt-youtube--is-active &
    opacity: 0
    visibility: hidden
    transition-timing-function ease-in-out
    transition-duration .4s
    transition-property opacity, visibility

.rt-youtube__next
  position: absolute
  z-index: 1
  background-color: b2c-purple
  width: 50px
  height: 50px
  cursor: pointer
  fill #fff
  right: 20px
  top: 0
  bottom: 0
  margin auto
  opacity: 0
  visibility: hidden
  transition-timing-function ease-in-out
  transition-duration .4s
  transition-property opacity, visibility
  cursor: pointer
  border-radius 50%
  display: flex
  justify-content  center
  align-items center

  .rt-youtube--is-active:hover &
    opacity: 0.5
    visibility: visible
    &:hover
      opacity: 1
.rt-youtube__sound-control
  cursor: pointer
  transition-timing-function ease-in-out
  transition-duration .2s
  transition-property opacity
  &--mute
    opacity: 0.3
.rt-youtube__volume
  position: absolute
  bottom: 20px
  right: 10px
  top: 0
  bottom: 0
  margin-top: auto
  margin-bottom: auto
  width: 110px
  display: flex
  align-items center



.rt-youtube__volume__line
  width: 75px
  height: 2px
  background-color: rgba(255,255,255,0.3);
  z-index: 2
  right: 0
  position: absolute
  cursor: pointer

.rt-youtube__volume__now-line
  height: 2px
  background-color: b2c-orange
  border-radius 3px
  position: absolute
  left: 0
  top: 0
  bottom: 0

.rt-youtube__volume__point
  position: absolute
  width: 10px
  height: 10px
  top: -4px
  margin-left: -5px
  border-radius 50%
  background-color: b2c-orange
  cursor: pointer

.rt-youtube__menu
  position: absolute
  bottom: 0
  left: 0
  right: 0
  height: 29px
  background-color: #000
  padding-left: 10px
  padding-right: 10px
  display: flex
  align-items center

.rt-youtube-fraction
  background-color: rgba(218,218,218,0.3)
  position: absolute
  top: -2px
  left: 0px
  right: 0px
  height: 2px

.rt-youtube-fraction__ready-line
  position: absolute
  left: 0
  top: 0
  height: 2px
  background-color: #fff

