body{
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
  transition-duration: 0.4s;
}
.rt-dark-theme{
  background-color: @dark-theme-background;
  color: white;
}
