@font-face {
  font-family: "RT Fonts";
  src: url("./fonts/BasisGrotesquePro-Regular-Web.eot");
  src: url("./fonts/BasisGrotesquePro-Regular-Web.eot?#iefix") format("embedded-opentype"),
  url("./fonts/BasisGrotesquePro-Regular-Web.woff2") format("woff2"),
  url("./fonts/BasisGrotesquePro-Regular-Web.woff") format("woff"),
  url("./fonts/BasisGrotesquePro-Regular-Web.ttf") format("ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "RT Fonts";
  src: url("./fonts/BasisGrotesquePro-Light-Web.eot");
  src: url("./fonts/BasisGrotesquePro-Light-Web.eot?#iefix") format("embedded-opentype"),
  url("./fonts/BasisGrotesquePro-Light-Web.woff2") format("woff2"),
  url("./fonts/BasisGrotesquePro-Light-Web.woff") format("woff"),
  url("./fonts/BasisGrotesquePro-Light-Web.ttf") format("ttf");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: "RT Fonts";
  src: url("./fonts/BasisGrotesquePro-Bold-Web.eot");
  src: url("./fonts/BasisGrotesquePro-Bold-Web.eot?#iefix") format("embedded-opentype"),
  url("./fonts/BasisGrotesquePro-Bold-Web.woff2") format("woff2"),
  url("./fonts/BasisGrotesquePro-Bold-Web.woff") format("woff"),
  url("./fonts/BasisGrotesquePro-Bold-Web.ttf") format("ttf");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "RT Fonts";
  src: url("./fonts/BasisGrotesquePro-Medium-Web.eot");
  src: url("./fonts/BasisGrotesquePro-Medium-Web.eot?#iefix") format("embedded-opentype"),
  url("./fonts/BasisGrotesquePro-Medium-Web.woff2") format("woff2"),
  url("./fonts/BasisGrotesquePro-Medium-Web.woff") format("woff"),
  url("./fonts/BasisGrotesquePro-Medium-Web.ttf") format("ttf");
  font-style: normal;
  font-weight: 600;
}
body{
  font-family: 'RT Fonts';
  font-weight: 400;
  line-height: 21px;
  font-size: 16px;
  word-break: break-all;
  hyphens: auto;
}

.rt-font{
  &-hero{
    line-height: 99px;
    font-size: 66px;
    font-weight: 200;
  }
  h1,
  &-h1{
    font-size: 50px;
    line-height: 75px;
    font-weight: 200;
  }
  h2,
  &-h2{
    font-size: 37px;
    line-height: 56px;
    font-weight: 200;
  }
  h3,
  &-h3{
    font-size: 28px;
    line-height: 42px;
    font-weight: 200;
  }
  h4,
  &-h4{
    font-size: 21px;
    line-height: 28px;
    font-weight: 200;
  }
  strong,
  b,
  &-bold{
    font-weight: 800;
  }
  &-paragraph{
    font-size: 18px;
    line-height: 24px;
  }
  &-label{
    font-size: 12px;
    line-height: 16px;
  }
  &-no-wrpa{
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
