.promo {
    &-color-line {
        height: calc( 100vh - 74px);
        min-width: 100vw;
        display: flex;
        flex-direction: row;
        position: relative;
        @media (max-width: @mobile-step-size) {
            height: initial;
            min-height: initial;
            padding-top: 150px;
            padding-bottom: 100px;
        }
    }
    &-title {
        margin-bottom: @vertical-space*1.75;
        margin-top: -45px;
    }
    &-left-line-image {
        -webkit-background-size: cover;
        background-size: cover;
        height: 100%;
        position: absolute;
        top: 0;
        width: 1286px;
        bottom: 0;
        background-position: right center;
        @media (max-width: 1625px) {
            left: calc( 66.66vw - 1345px);
        }
        @media (max-width: 1881px) and (min-width:1476px) {
            left: calc(100vw - 1476px - 405px);
        }
        @media (min-width: 1881px) {
            left: 0;
        }
    }
    &-reg-app {
        background-color: @light-grey;
        .@{newAppName}-dark-theme & {
            color: @main-color;
        }
    }
    &-color-block {
        padding-top: 50px;
        padding-bottom: 50px;
        color: #ffffff;
        &--hide-overflow {
            overflow-x: hidden;
            max-width: 100%;
        }
    }
    &-tv {
        &-icon {
            height: 92px;
            vertical-align: top;
        }
        &-channel {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            &__item {
                min-width: 12%;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                align-self: center;
                vertical-align: middle;
                align-self: center;
                padding-top: @vertical-space/2;
                @media (max-width: @mobile-step-size) {
                    min-width: 20%;
                }
                  &--perii{
                    min-width: 100px;
                    .promo-tv-channel__img{
                      width: 57px;
                    }
                  }
                  &--sts{
                    .promo-tv-channel__img{
                      width: 75px;
                    }
                  }
                  &--tnt{
                    .promo-tv-channel__img{
                      width: 75px;
                    }
                  }
                  &--friday{
                    .promo-tv-channel__img{
                      width: 90px;
                    }
                  }
                  &--carusel{
                    .promo-tv-channel__img{
                      width: 110px;
                    }
                  }
                  &--ntv{
                    .promo-tv-channel__img{
                      width: 65px;
                    }
                  }
                  &--rossia1{
                    .promo-tv-channel__img{
                      width: 125px;
                    }
                  }
                  &--muztv{
                    .promo-tv-channel__img{
                      width: 55px;
                    }
                  }
                  &--sony{
                    .promo-tv-channel__img{
                      width: 62px;
                    }
                  }
                  &--paramount{
                    .promo-tv-channel__img{
                      width: 77px;
                    }
                  }
                  &--romans{
                    min-height: 110px;
                    .promo-tv-channel__img{
                      width: 65px;
                    }
                  }
                  &--mtv{
                    min-width: 130px;
                    .promo-tv-channel__img{
                      width: 65px;
                    }
                  }
                  &--matchtv{
                    .promo-tv-channel__img{
                      width: 85px;
                    }
                  }
                  &--rentv{
                    .promo-tv-channel__img{
                      width: 47px;
                    }
                  }
                  &--tvc{
                    .promo-tv-channel__img{
                      width: 73px;
                    }
                  }
                  &--tv3{
                    .promo-tv-channel__img{
                      width: 65px;
                    }
                  }

            }
            &__img {
                width: fit-content;
                height: auto;
                max-width: 100%;

            }
        }
    }
    &-shelf {
        &__list {
            padding-top: 10px;
        }
        &__image {
            width: 100%;
        }
        &__pseudo-item {
            opacity: 0.3;
        }
        &__info {
            opacity: 0.5;
            margin-top: @vertical-space/2;
        }
        &__label {
            max-width: 100%;
            overflow: hidden;
            -ms-text-overflow: ellipsis;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
  &-full-width-img{
    width: 100%;
  }
}

.flex-column-center-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
