@font-face
  font-family "RT Code"
  font-weight 200
  font-style normal
  src url("./app-fonts/Menlo-Regular.eot")
  src url("./app-fonts/Menlo-Regular.eot?#iefix") format("embedded-opentype"), url("./app-fonts/Menlo-Regular.woff") format("woff"), url("./app-fonts/Menlo-Regular.woff2") format("woff2"), url("./app-fonts/Menlo-Regular.ttf") format("ttf")

@import "../../develover-lib/css/editor"

.app
  &--hide-scroll
    @media (max-width: mobile-upper-limit)
      overflow hidden

  &-title
    margin-bottom 25px
    padding-top 40px

    .{newAppName}-font-hero
      text-decoration underline
      text-decoration-color b2c-red-high

  &-row
    &+&
      margin-top 40px

  &-content
    flex 1
    padding-top 50px
    padding-bottom 30px

  &-col-fill
    min-height 40px
    color main-color
    font-size 15px
    line-height 40px
    text-align center
    position relative

    &__text
      position relative
      z-index 2

    &:before
      content ""
      height 100%
      background-color rgba(255, 192, 203, .5)
      position absolute
      left 10px
      right 10px
      z-index 1

.menu-trigger
  color b2c-red
  text-decoration underline
  position absolute
  top 20px
  left 20px
  z-index 900
  cursor pointer

.aside
  &-menu
    height 100vh
    box-sizing border-box
    overflow auto
    font-size 14px
    top 0
    transition-timing-function ease-in-out
    transition-duration .3s
    transition-property left
    width 380px
    background-color #fff
    padding-bottom 60px
    position fixed
    top 0
    bottom 0
    z-index 1000
    left: -370px
    .{newAppName}-dark-theme &
      background-color main-color



    @media (max-width: mobile-upper-limit)
      max-width 100vw
      overflow-y auto
      background-color #fff
      padding-top vertical-space * 2
      padding-right 0
      left -120vw
      z-index 999
    &--active
      left: 0px
      &:hover
        left: 0px
      @media (max-width: mobile-upper-limit)
        left 0

    border-right 1px solid b2c-cool-grey05
    padding-top 100px

    &__submenu-title
      border-bottom 1px solid b2c-cool-grey
      margin-top 16px
      margin-left 25px
      margin-right 15px
      padding-bottom 5px

    &__link
      display block
      color main-color06
      text-decoration none !important
      padding-top 10px
      padding-bottom 10px
      padding-left 30px
      padding-right 15px
      position relative
      cursor pointer
      transition-timing-function ease-in-out
      transition-duration .3s
      transition-property background, color

      .{newAppName}-dark-theme &
        color b2c-cool-grey05

      &:before
        content ""
        width 10px
        height 1px
        background-color b2c-red-high
        margin-top auto
        margin-bottom auto
        opacity 0
        position absolute
        top 0
        bottom 0
        left 10px
        transition-timing-function ease-in-out
        transition-duration .3s
        transition-property opacity
        will-change opacity

      &:hover,
      &:focus
        color main-color

        .{newAppName}-dark-theme &
          color white

      &--active
        color main-color

        &:before
          opacity 1

  &-sub-menu
    margin-left 20px
    padding-top vertical-space

    @media (max-width: mobile-upper-limit)
      margin-left 0

.dark-theme-switcher
  position absolute
  top 20px
  right 20px

.{newAppName}-code
  display inline-block
  color b2c-red-high
  font-family "RT Code"

  &--fill
    background-color rgba(#E2C892, .3)
    border-radius 5px
    margin-top 3px
    margin-bottom 3px
    margin-left -5px
    margin-right 6px
    padding-top 3px
    padding-bottom 3px
    padding-left 5px
    padding-right 5px

    .app-documentation__warning &
      margin-left 0
      margin-right 0

  &--component
    color b2c-green-low
    background-color rgba(#aaaaaa, .3)
    border-radius 5px
    margin-bottom 5px
    margin-left -5px
    padding-top 3px
    padding-bottom 3px
    padding-left 5px
    padding-right 5px

.app-documentation
  font-family "RT Code"
  font-size 12px
  line-height 1.5

  em
    font-style italic

  code
    display inline-block
    color #d16464 !important
    font-size 100%
    white-space pre-wrap
    background #f7f7f7
    border 1px solid #e4e4e4
    border-radius 2px
    margin-top 2px
    margin-bottom 2px
    padding 1px 4px

  &__warning
    display inline-block
    text-decoration underline
    margin-bottom 5px
    text-decoration-color #0c8cd1
    text-decoration-style double

    &:before
      content "! "
      color #0c8cd1

    &:after
      content " !"
      color #0c8cd1

  &__row
    display flex
    flex-direction row

    &+&
      border-top 1px solid rgba(#aaaaaa, .3)

    &.rt-font-bold
      font-size 14px
      text-transform uppercase

    &.rt-font-bold + &
      border-top-width 0

.grid-switcher
  position absolute
  top 20px
  right 20px
.code-switcher
  position absolute
  top 20px
  left 40px


.grid
  pointer-events none

  &--active
    height 100vh
    bottom 0

  max-width 1320px
  height 0
  overflow hidden
  margin-left auto
  margin-right auto
  position fixed
  top 0
  bottom 100vh
  left 80px
  right 80px
  z-index 200
  transition-timing-function ease-in-out
  transition-duration .3s
  transition-property height, bottom

  @media (max-width: tablet-upper-limit)
    left 20px
    right 20px

  .row
    height 100vh

  .demo-col
    &:before
      content ""
      box-sizing border-box
      background-color rgba(#7700FF, .04)
      border-left 1px solid rgba(b2c-orange, .3)
      border-right 1px solid rgba(b2c-orange, .3)
      position absolute
      top 0
      bottom 0
      left 10px
      right 10px

      .{newAppName}-dark-theme &
        background-color rgba(#fff, 3%)

    &:after
      content ""
      box-sizing border-box
      border-left 1px solid rgba(b2c-red, .35)
      border-right 1px solid rgba(b2c-red, .35)
      position absolute
      top 0
      bottom 0
      left 30px
      right 30px

.app-sticked
  top 0

.section-switcher
  position fixed
  top 60px
  right 20px
  font-size: 12px
  z-index: 10
  background-color: white
  padding-left: 10px
  padding-right: 10px
  padding-top: 5px
  padding-bottom: 5px
  border 1px solid main-color05
  max-width: fit-content
  max-height: fit-content
  overflow: hidden
  transition-timing-function ease-in-out
  transition-duration .3s
  transition-property max-width,max-height, padding

  .radio-button
    display block
    opacity: 0
    visibility: hidden
    max-height: 0
    transition-timing-function ease-in-out
    transition-duration .3s
    transition-property max-height, padding, opacity, visibility, box-shadow
    padding: 0

  &:hover
    max-width: 200px
    max-height: 200px
    box-shadow: 0 0 3px rgba(0,0,0,.3), 3px 0 5px rgba(0,0,0,.1)
    padding: 10px 10px 10px 20px
    .radio-button+.radio-button
      padding-top: 5px
    .section-switcher__label
      max-height: 0
      opacity: 0
      visibility: hidden
    .radio-button
      opacity: 1
      visibility: visible
      max-height: 100px
      margin-top: 10px
      margin-bottom: 10px

.section-switcher__label
  max-height: 100px
  text-align: center
  overflow: hidden
  opacity: 1
  visibility: visible
  transition-timing-function ease-in-out
  transition-duration .3s
  transition-property opacity, visibility, max-height
.section-switcher__label-value
  color b2c-purple
  font-style italic
  padding-right: 5px
.is-b2b,
.is-b2c
  display none

.show-b2b
  .is-b2b
    display block

.show-b2c
  .is-b2c
    display block
