@font-face
  font-family "RT Fonts"
  font-weight 400
  font-style normal
  src url("./fonts/RostelecomBasis-Regular.eot")
  src url("./fonts/RostelecomBasis-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/RostelecomBasis-Regular.woff2") format("woff2"), url("./fonts/RostelecomBasis-Regular.woff") format("woff"), url("./fonts/RostelecomBasis-Regular.ttf") format("ttf")

@font-face
  font-family "RT Fonts"
  font-weight 200
  font-style normal
  src url("./fonts/RostelecomBasis-Light.eot")
  src url("./fonts/RostelecomBasis-Light.eot?#iefix") format("embedded-opentype"), url("./fonts/RostelecomBasis-Light.woff2") format("woff2"), url("./fonts/RostelecomBasis-Light.woff") format("woff"), url("./fonts/RostelecomBasis-Light.ttf") format("ttf")

@font-face
  font-family "RT Fonts"
  font-weight 800
  font-style normal
  src url("./fonts/RostelecomBasis-Bold.eot")
  src url("./fonts/RostelecomBasis-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/RostelecomBasis-Bold.woff2") format("woff2"), url("./fonts/RostelecomBasis-Bold.woff") format("woff"), url("./fonts/RostelecomBasis-Bold.ttf") format("ttf")

@font-face
  font-family "RT Fonts"
  font-weight 600
  font-style normal
  src url("./fonts/RostelecomBasis-Medium.eot")
  src url("./fonts/RostelecomBasis-Medium.eot?#iefix") format("embedded-opentype"), url("./fonts/RostelecomBasis-Medium.woff2") format("woff2"), url("./fonts/RostelecomBasis-Medium.woff") format("woff"), url("./fonts/RostelecomBasis-Medium.ttf") format("ttf")
@font-face
  font-family "RT Fonts"
  font-weight 700
  font-style normal
  src url("./fonts/RostelecomBasis-MediumHighlight.eot")
  src url("./fonts/RostelecomBasis-MediumHighlight.eot?#iefix") format("embedded-opentype"), url("./fonts/RostelecomBasis-MediumHighlight.woff2") format("woff2"), url("./fonts/RostelecomBasis-MediumHighlight.woff") format("woff"), url("./fonts/RostelecomBasis-MediumHighlight.ttf") format("ttf")
