.grid-center{
  display: none;
  background-color: red;
  z-index: 1000;
  position: fixed;
  width: 1px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;

}
.rt-banner{
  height: 500px;
  position: relative;
  &--background{
    &-dark-state {
      background-color: @b2b-dark-state;
      width: 100%;
    }
    &-yellow {
      background-color: @b2c-yellow-low;
      width: 100%;
    }
  }
  &-triangle{
    position: absolute;
    width: 22vw;
    height: 100%;
    left: 0vw;
    top: 0;
    z-index: 10;
    margin-left: -2px;
    .rt-banner--background-dark-state & {
      fill: @b2b-dark-state;
    }
    .rt-banner--background-yellow &{
      fill: @b2c-yellow-low;
    }
  }
  &-right-triangle{
    display: none;
    position: absolute;
    width: 22vw;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 10;
    .rt-banner--background-dark-state & {
      fill: @b2b-dark-state;
    }
    .rt-banner--background-yellow &{
      fill: @b2c-yellow-low;
    }
    transform: rotate(180deg);
    @media (min-width: 1550px) and (max-width : 1920px){
      right: calc(80vw - 1550px );
      display: block;
    }
    @media (min-width : 1920px){
      right: -2px;
      display: block;
    }


  }
  &+&{
    margin-top: 40px;
  }
  &--color-white{
    color: white;
  }
  &-content{
    display: flex;
    align-items: center;
    justify-items: center;
    height: 500px;
    line-height: 1.5;
  }
  &-image{
    position: relative;
    height: 100%;
    width: 55vw;
    position: absolute;
    left: 45vw;
    z-index: 1;
    top: 0;
    bottom: 0;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    @media (min-width: 1500px) {
      max-width: 1024px;
    }
  }
}
