.grid-center{
  display: none;
  background-color: red;
  z-index: 1000;
  position: fixed;
  width: 1px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;

}
.rt-banner{
  height: 500px;
  position: relative;
  transition-duration: 0.3s;
  transition-property: background-color, color;
  transition-timing-function: ease-in-out;

  &--background{
    &-dark-state {
      background-color: @b2b-dark-state;
      width: 100%;
    }
    &-yellow {
      background-color: @b2c-yellow-low;
      width: 100%;
    }
  }
  &-triangle{
    position: absolute;
    width: 22vw;
    height: 100%;
    left: 0vw;
    top: 0;
    z-index: 10;
    margin-left: -2px;
    fill: transparent;
    transition-duration: 0.3s;
    transition-property: fill;
    transition-timing-function: ease-in-out;
    .rt-banner--background-dark-state & {
      fill: @b2b-dark-state;
    }
    .rt-banner--background-yellow &{
      fill: @b2c-yellow-low;
    }
  }
  &-right-triangle{
    display: none;
    position: absolute;
    width: 22vw;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 10;
    .rt-banner--background-dark-state & {
      fill: @b2b-dark-state;
    }
    .rt-banner--background-yellow &{
      fill: @b2c-yellow-low;
    }
    transform: rotate(180deg);
    @media (min-width: 1550px) and (max-width : 1920px){
      right: calc(80vw - 1550px );
      display: block;
    }
    @media (min-width : 1920px){
      right: -2px;
      display: block;
    }


  }
  &+&{
    margin-top: 40px;
  }
  &--color-white{
    color: white;
  }
  &-content{
    display: flex;
    align-items: center;
    justify-items: center;
    height: 500px;
    line-height: 1.5;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    transition-duration: 0.3s;
    transition-property: opacity, visibility;
    transition-timing-function: ease-in-out;
    z-index: 3;

    &--active{
      opacity: 1;
      visibility: visible;
    }
  }
  &-image{
    position: relative;
    height: 100%;
    width: 55vw;
    position: absolute;
    left: 45vw;
    z-index: 1;
    top: 0;
    bottom: 0;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    transition-duration: 0.3s;
    transition-property: background-image;
    transition-timing-function: ease-in-out;
    @media (min-width: 1500px) {
      max-width: 1024px;
    }
  }
}

.circle-switcher{

  position: absolute;
  bottom: 30px;
  text-align: center;
  left: 0;
  right: 0;
  text-align: center;

  &-container{
    display: inline-block;
  }

  &__item{
    animation-duration: 5s;
    cursor: pointer;
    position: relative;
    z-index: 3;
    display: inline-block;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    &:before{
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 1px solid #fff;
      position: absolute;
      box-sizing: border-box;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
    }
    &+&{
      margin-left: @horizontal-space;
    }
  }
  &__icon{
    width: inherit;
    height: inherit;
    stroke: #fff;
    stroke-dasharray: 0;
    stroke-width: 0;
    transition-duration: 0.3s;
    transition-property: stroke-dasharray, stroke-width;
    transition-timing-function: ease-in-out;
    transform: rotate(-90deg);
    .circle-switcher__item:hover &{
      stroke-dasharray: 60;
      stroke-width: 1;
    }
    .rt-banner--run-timer &{
      stroke-dasharray: 60;
      stroke-width: 1;
      animation-duration: inherit;
      animation-timing-function: linear ;
      animation-name: switcherRound;
    }

  }

}
@keyframes switcherRound {
  0% {
    stroke-dashoffset: 180;

  }
  100% {
    stroke-dashoffset: 120;

  }
}
