.test-access
  background-color b2c-green-low
  position relative
  color b2c-white
  @media (max-width: mobile-upper-limit)
    text-align: center
  .rt-ordered-list__item
    padding-left 20px
    text-align left!important
    color b2c-white
    &+.rt-ordered-list__item
      margin-top 30px
    &:before
      background-color b2c-white05
      left: 2px
      top: 10px
      position: absolute
      @media (max-width: tablet-upper-limit)
        top 7px
  .rt-col-10
    margin-left: -10px
    @media (max-width: mobile-upper-limit)
      margin-left: 0

.download-button--dashed
  padding: 15px 20px 15px 40px
  border 2px dashed b2c-white07
  border-radius 5px
  position relative
  display: inline-block
  @media (max-width: mobile-upper-limit)
    display block
  .rt-font-control
    color b2c-white07

.stretcher
  margin-top 20px
  margin-bottom: 30px

.mobile-none
  @media (max-width: mobile-upper-limit)
    display none

.text--underlined
  border-bottom 1px solid b2c-white05

.test-access__image
  position absolute
  //background-image: url('/static/images/B2B/test-access-2.png');
  top 50px
  right 0
  width 50%
  background-size: contain
  height calc(100% - 100px)
  background-repeat: no-repeat
  background-position: 100% 50%

.list-title
  margin-left -10px
