.test-access
  color b2c-white
  background-color b2c-green-low
  position relative

  @media (max-width: mobile-upper-limit)
    text-align center

  .rt-ordered-list__item
    color b2c-white
    text-align left !important
    padding-left 20px

    &+.rt-ordered-list__item
      margin-top 30px

    &:before
      background-color b2c-white05
      position absolute
      top 10px
      left 2px

      @media (max-width: tablet-upper-limit)
        top 7px

  .rt-col-10
    margin-left -10px

    @media (max-width: mobile-upper-limit)
      margin-left 0

.download-button--dashed
  display inline-block
  border 2px dashed b2c-white07
  border-radius 5px
  padding 15px 20px 15px 40px
  position relative

  @media (max-width: mobile-upper-limit)
    display block

  .rt-font-control
    color b2c-white07

.stretcher
  margin-top 20px
  margin-bottom 30px

.mobile-none
  @media (max-width: mobile-upper-limit)
    display none

.text--underlined
  border-bottom 1px solid b2c-white05

.test-access__image
  width 50%
  height calc(100% - 100px)
  background-position 100% 50%
  background-size contain
  background-repeat no-repeat
  position absolute
  // background-image: url('/static/images/B2B/test-access-2.png');
  top 50px
  right 0

.list-title
  margin-left -10px
