.promo
  &-color-line
    display flex
    flex-direction row
    min-width 100vw
    height calc(100vh - 74px)
    position relative

    @media (max-width: mobile-upper-limit)
      height initial
      min-height initial
      padding-top 150px
      padding-bottom 100px

  &-title
    margin-top -45px
    margin-bottom vertical-space * 1.75

  &-left-line-image
    width 1286px
    height 100%
    background-position right center
    background-size cover
    position absolute
    top 0
    bottom 0
    -webkit-background-size cover

    @media (max-width: 1625px)
      left calc(66.66vw - 1345px)

    @media (max-width: 1881px) and (min-width: 1476px)
      left calc(100vw - 1476px - 405px)

    @media (min-width: 1881px)
      left 0

  &-reg-app
    background-color light-grey

    .{newAppName}-dark-theme &
      color main-color

  &-color-block
    color #ffffff
    padding-top 50px
    padding-bottom 50px

    &--hide-overflow
      max-width 100%
      overflow-x hidden

  &-tv
    &-icon
      height 92px
      vertical-align top

    &-channel
      display flex
      flex-wrap wrap
      justify-content space-between

      &__item
        display flex
        flex-direction column
        align-self center
        align-self center
        min-width 12%
        box-sizing border-box
        padding-top vertical-space * .5
        vertical-align middle

        @media (max-width: mobile-upper-limit)
          min-width 20%

        &--perii
          min-width 100px

          .promo-tv-channel__img
            width 57px

        &--sts
          .promo-tv-channel__img
            width 75px

        &--tnt
          .promo-tv-channel__img
            width 75px

        &--friday
          .promo-tv-channel__img
            width 90px

        &--carusel
          .promo-tv-channel__img
            width 110px

        &--ntv
          .promo-tv-channel__img
            width 65px

        &--rossia1
          .promo-tv-channel__img
            width 125px

        &--muztv
          .promo-tv-channel__img
            width 55px

        &--sony
          .promo-tv-channel__img
            width 62px

        &--paramount
          .promo-tv-channel__img
            width 77px

        &--romans
          min-height 110px

          .promo-tv-channel__img
            width 65px

        &--mtv
          min-width 130px

          .promo-tv-channel__img
            width 65px

        &--matchtv
          .promo-tv-channel__img
            width 85px

        &--rentv
          .promo-tv-channel__img
            width 47px

        &--tvc
          .promo-tv-channel__img
            width 73px

        &--tv3
          .promo-tv-channel__img
            width 65px

      &__img
        width fit-content
        max-width 100%
        height auto

  &-shelf
    &__list
      padding-top 10px

    &__image
      width 100%

    &__pseudo-item
      opacity .3

    &__info
      margin-top vertical-space * .5
      opacity .5

    &__label
      max-width 100%
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
      -ms-text-overflow ellipsis

  &-full-width-img
    width 100%

.flex-column-center-items
  display flex
  flex-direction column
  justify-content center

.rt-sticky--tariff
  position sticky
  top 400px

.scroll-step-text
  line-height 23px
  outline 5px solid #fff
  transition-timing-function cubic-bezier(.11, .34, .97, .33)
  transition-duration .4s
  transition-property outline, color, background-color

.rt-orange-breaker-item
  padding-right: 15px
  &+&
    padding-left: 45px
    position: relative
    &:before
      content: ''
      position: absolute
      left: 0
      width: 32px
      height: 42px
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMzJweCIgaGVpZ2h0PSI0MnB4IiB2aWV3Qm94PSIwIDAgMzIgNDIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDUzICg3MjUyMCkgLSBodHRwczovL3NrZXRjaGFwcC5jb20gLS0+CiAgICA8dGl0bGU+TGluZSAzIENvcHkgNDwvdGl0bGU+CiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4KICAgIDxnIGlkPSJEZXNpZ24iIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiPgogICAgICAgIDxnIGlkPSI1NTMtTFBfSWdyb3ZvaS00Z2FtZSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTI5OS4wMDAwMDAsIC00NzUuMDAwMDAwKSIgZmlsbC1ydWxlPSJub256ZXJvIiBzdHJva2U9IiNGRjRGMTIiIHN0cm9rZS13aWR0aD0iNCI+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik0zMDIsNTE0IEwzMjgsNDc4IiBpZD0iTGluZS0zLUNvcHktNCI+PC9wYXRoPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+')





.scroll-step--is-active .scroll-step-text
  color white
  background-color #65B8DF
  outline 5px solid #65B8DF
