.promo
  &-color-line
    display flex
    flex-direction row
    min-width 100vw
    height calc(100vh - 74px)
    position relative

    @media (max-width: mobile-upper-limit)
      height initial
      min-height initial
      padding-top 150px
      padding-bottom 100px

  &-title
    margin-top -45px
    margin-bottom vertical-space * 1.75

  &-left-line-image
    width 1286px
    height 100%
    background-position right center
    background-size cover
    position absolute
    top 0
    bottom 0
    -webkit-background-size cover

    @media (max-width: 1625px)
      left calc(66.66vw - 1345px)

    @media (max-width: 1881px) and (min-width: 1476px)
      left calc(100vw - 1476px - 405px)

    @media (min-width: 1881px)
      left 0

  &-reg-app
    background-color light-grey

    .{newAppName}-dark-theme &
      color main-color

  &-color-block
    color #ffffff
    padding-top 50px
    padding-bottom 50px

    &--hide-overflow
      max-width 100%
      overflow-x hidden

  &-tv
    &-icon
      height 92px
      vertical-align top

    &-channel
      display flex
      flex-wrap wrap
      justify-content space-between

      &__item
        display flex
        flex-direction column
        align-self center
        align-self center
        min-width 12%
        box-sizing border-box
        padding-top vertical-space * .5
        vertical-align middle

        @media (max-width: mobile-upper-limit)
          min-width 20%

        &--perii
          min-width 100px

          .promo-tv-channel__img
            width 57px

        &--sts
          .promo-tv-channel__img
            width 75px

        &--tnt
          .promo-tv-channel__img
            width 75px

        &--friday
          .promo-tv-channel__img
            width 90px

        &--carusel
          .promo-tv-channel__img
            width 110px

        &--ntv
          .promo-tv-channel__img
            width 65px

        &--rossia1
          .promo-tv-channel__img
            width 125px

        &--muztv
          .promo-tv-channel__img
            width 55px

        &--sony
          .promo-tv-channel__img
            width 62px

        &--paramount
          .promo-tv-channel__img
            width 77px

        &--romans
          min-height 110px

          .promo-tv-channel__img
            width 65px

        &--mtv
          min-width 130px

          .promo-tv-channel__img
            width 65px

        &--matchtv
          .promo-tv-channel__img
            width 85px

        &--rentv
          .promo-tv-channel__img
            width 47px

        &--tvc
          .promo-tv-channel__img
            width 73px

        &--tv3
          .promo-tv-channel__img
            width 65px

      &__img
        width fit-content
        max-width 100%
        height auto

  &-shelf
    &__list
      padding-top 10px

    &__image
      width 100%

    &__pseudo-item
      opacity .3

    &__info
      margin-top vertical-space * .5
      opacity .5

    &__label
      max-width 100%
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
      -ms-text-overflow ellipsis

  &-full-width-img
    width 100%

.flex-column-center-items
  display flex
  flex-direction column
  justify-content center

.rt-sticky--tariff
  position sticky
  top 400px

.scroll-step-text
  line-height 23px
  outline 5px solid #fff
  transition-timing-function cubic-bezier(.11, .34, .97, .33)
  transition-duration .4s
  transition-property outline, color, background-color

.rt-orange-breaker-item
  padding-right: 15px
  &+&
    padding-left: 45px
    position: relative
    &:before
      content: ''
      position: absolute
      left: 0
      width: 32px
      height: 42px
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMzJweCIgaGVpZ2h0PSI0MnB4IiB2aWV3Qm94PSIwIDAgMzIgNDIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDUzICg3MjUyMCkgLSBodHRwczovL3NrZXRjaGFwcC5jb20gLS0+CiAgICA8dGl0bGU+TGluZSAzIENvcHkgNDwvdGl0bGU+CiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4KICAgIDxnIGlkPSJEZXNpZ24iIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiPgogICAgICAgIDxnIGlkPSI1NTMtTFBfSWdyb3ZvaS00Z2FtZSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTI5OS4wMDAwMDAsIC00NzUuMDAwMDAwKSIgZmlsbC1ydWxlPSJub256ZXJvIiBzdHJva2U9IiNGRjRGMTIiIHN0cm9rZS13aWR0aD0iNCI+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik0zMDIsNTE0IEwzMjgsNDc4IiBpZD0iTGluZS0zLUNvcHktNCI+PC9wYXRoPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+')



.scroll-step--is-active .scroll-step-text
  color white
  background-color #65B8DF
  outline 5px solid #65B8DF

.vip-iphone
  width: 381px
  height: 451px
  background-image: url('/static/images/iphone.png')
  background-size: cover
  position: relative
  @media (max-width: 767px)
    background-image: none
    height: auto
    width: auto
.vip-iphone:before
  width: 55%;
  height: 110px;
  background-image: url('/static/images/IPhoneeye.png')
  background-repeat: no-repeat
  background-size: contain
  position: absolute
  left: 0
  right: 0
  margin-left: auto
  margin-right: auto
  top: 22px
  z-index: 10
  content: ''
  @media (max-width: 767px)
    background-image: none

.vip-iphone__inner
  width: 86.9%;
  height: 94.6%;
  border-radius: 36px 36px 0 0;
  position: absolute;
  bottom: 0;
  left: 0.5%;
  right: 0
  margin-left: auto
  margin-right: auto
  overflow: hidden
  @media (max-width: 767px)
    height: auto
    position: relative
  &:before
    content: ''
    width: 190%;
    transform: rotate(17deg);
    height: 300%;
    background-image: url(/static/images/iphoneBg.png);
    position: absolute
    -webkit-background-size: contain
    -moz-background-size: contain
    background-size: contain
    top: -120%
    right: -105%
    background-repeat:no-repeat
    transition-timing-function cubic-bezier(.77,.34,.39,.77)
    transition-duration 1s
    transition-property top, right, transform, width, height
    @media (max-width: 767px)
      background-image: none
    .vip-iphone--step-2 &
      transform: rotate(-34deg)
      top: -200%
      right: -90%
      width: 220%
    .vip-iphone--step-3 &
      transform: rotate(-75deg)
      top: -203%
      right: -20%
      width: 220%
    .vip-iphone--step-4 &
      transform: rotate(-165deg);
      top: -203%;
      right: 90%;
      width: 220%;

.vip-iphone-count
  position: absolute
  bottom: 4%
  left: 5%
  right: 0
  margin-left: auto
  margin-right: auto
  font-size: 14px
  color white
  text-align: center
  @media (max-width: 767px)
    display: none



.vip-iphone-text
  position: absolute
  top: 45%
  width: 55%
  left: 5%
  right: 0
  margin-left: auto
  margin-right: auto
  font-size: 16px
  color white
  line-height: 24px
  opacity: 1
  visibility: visible
  transition-timing-function ease-in-out
  transition-duration .5s
  transition-property opacity
  @media (max-width: 767px)
    position: relative
    opacity: 1
    visibility: visible
    width: auto
    left: 0
    &+&
      padding-top: 40px


.vip
  .rt-banner-content
  .rt-card__footer
    padding-left: 0
    padding-right: 0
  .rt-dark-theme
    .rt-price__option-value
      color: #fff
      font-size: 50px
    .rt-card__background
      background-color: #1B2841
    .rt-card__body
      padding-bottom: 20px
    .rt-card__footer
      position: relative
      padding-top: 20px
      &:before
        content: ''
        position: absolute
        top: 0
        left: 5px
        right: 5px
        height: 1px
        background-color: rgba(255,255,255,0.1)
  .rt-card-list__name
    colro: white
  .rt-card-list__sub-name
  .rt-annotation--is-open
    .rt-annotation__content
      padding-top: 10px
      padding-bottom: 10px
  .rt-annotation__content
    background-color: rgba(16,24,40,0.34)
  .rt-card__content
    padding-bottom: 0

  .rt-annotation__arrow
    position: absolute
    right: 20px
    left:initial
  .rt-annotation--empty
    .rt-annotation__arrow
      display: none
    .rt-annotation__title
      opacity: 0.3
      cursor: default
    .rt-annotation__content
      display: none

  .rt-annotation__title
    text-transform: uppercase
    font-size: 12px
    line-height: 15px
    display: block
    padding-right: 20px
    padding-top: 20px
    padding-bottom: 20px


  .rt-annotation
    border-top: 0


.vip-iphone-text-eq1
  .vip-iphone--step-2 &,
  .vip-iphone--step-3 &,
  .vip-iphone--step-4 &
    opacity: 0
    @media (max-width: 767px)
      opacity: 1
      visibility: visible

.vip-iphone-text-eq2
  opacity: 0
  @media (max-width: 767px)
    opacity: 1
  .vip-iphone--step-2 &
    opacity: 1

.vip-iphone-text-eq3
  opacity: 0
  @media (max-width: 767px)
    opacity: 1
  .vip-iphone--step-3 &
    opacity: 1

.vip-iphone-text-eq4
  opacity: 0
  @media (max-width: 767px)
    opacity: 1
  .vip-iphone--step-4 &
    opacity: 1

.vip-iphone-wrapper
  display: flex
  background-color: #1b2841
  flex-direction: column
  @media (max-width: 767px)
    height: initial
    display: block
    min-height auto
    background-color: #101828

.vip-iphone-container
  position: sticky
  bottom: 0
  width: 100%
  height: 50vh
  min-height: 492px
  align-self: flex-end
  @media (max-width: 767px)
    position: relative
    min-height auto
    height: auto

.vip-background
  &:before
    content: ''
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    background: linear-gradient(to bottom, #1b284100 0%,#1b2841 5%,#1b2841 100%);
    @media (max-width: 767px)
      display: none
.vip-list-img-1
  height: 261px
  @media (max-width: 767px)
    height: 137px
.vip-list-img-2
  height: 261px
  @media (max-width: 767px)
    height: 137px
.vip-list-img-3
  height: 191px
  @media (max-width: 767px)
    height: 117px
.vip-list-img-4
  height: 185px
  @media (max-width: 767px)
    height: 137px
.vip-list-img-container
  height: 261px
  @media (max-width: 767px)
    height: 137px
.horizontal-scroll-container
  display: flex;
  flex-direction: row;
  white-space: normal;
  overflow: auto

.vip-scroll-button
  position: absolute
  top: 0
  bottom: 0
  margin-top: auto
  margin-bottom: auto
  cursor: pointer
  z-index: 10
  opacity: 0.8
  transition-timing-function cubic-bezier(.11, .34, .97, .33)
  transition-duration .2s
  transition-property opacity
  display: none
  &:hover
    opacity: 1
  &--next
    right: 0px
  &--prev
    left: 0px
    transform rotate(180deg)

.tariff-scroller
  position: relative
  top: 0

.tariff-scroller-sticky
  top: 0
  position: sticky

.vip-iphone-title
  position: sticky
  top: 50px
  @media (max-width: 767px)
    position: relative
    padding-bottom: 30px
    padding-left: 20px
    padding-right: 20px

.vip-iphone-count__point
  width: 8px
  height: 8px
  display: inline-block
  box-sizing border-box
  border 1.5px solid white
  cursor: pointer
  border-radius 50%

.vip-iphone-count__point:hover
  background-color: #fff

.vip-iphone-count__point+.vip-iphone-count__point
  margin-left: 12px

.vip-iphone-count__point--is-active
  background-color: #fff
  cursor: default

.vip-tariff-wrapper
  transition-timing-function ease
  transition-duration .1s
  transition-property transform

.animate-scroller-sticky
  position: sticky
  top: 0

.animate-scroller-sticky__container
  overflow: hidden

.warface-popup-wrapper
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  display: flex
  align-items center
  justify-content center
  background-color: rgba(0,0,0,0.3)
  z-index: 1000
  transition-timing-function cubic-bezier(.11, .34, .97, .33)
  transition-duration .2s
  transition-property opacity, visibility
  opacity: 0
  visibility: hidden
  z-index: 1

.warface-popup-wrapper--is-active
  opacity: 1
  visibility: visible
  z-index: 2

.warface-popup
  width: 565px
  background-color: #242C39
  box-shadow 0 20px 30px rgba(0,0,0,0.3)
  color white
  padding-left: 20px
  padding-right: 20px
  padding-bottom: 20px
  padding-top: 40px
  position: relative
  max-width: calc(100vw - 40px)

.warface-popup-close
  position: absolute
  top: 20px
  right: 20px
  cursor: pointer

.warface-popup-slider
  max-width: 365px
  margin-left: auto
  margin-right: auto
  position: relative
  height: 180px

.warface-popup-slider__arrow
  position: absolute
  top: 0
  bottom: 30px
  margin-top: auto
  margin-bottom: auto
  height: 16px
  cursor: pointer
  z-index: 2

.warface-popup-slider__arrow-prev
  left: 0


.warface-popup-slider__arrow-next
  right: 0

.warface-popup-slider,
.warface-popup-slider__count
  text-align: center

.warface-popup-slider__count
  user-select: none

.warface-popup-slider__img
  height: 115px
  display: flex
  align-items center
  justify-content center

.warface-popup-slider__item
  position: absolute
  opacity: 0
  visibility: hidden
  left: 0
  right: 0
  margin-left: auto
  margin-right: auto
  user-select: none
  transition-timing-function cubic-bezier(.11, .34, .97, .33)
  transition-duration .2s
  transition-property opacity, visibility

.warface-popup-slider__item--is-active
  opacity: 1
  visibility: visible

.kids
  .rt-annotation__title
    text-align: center
    padding-left: 0
    display: block

  .rt-annotation__arrow
    display: none

.carousel-card
  position absolute
  width 566px
  height 440px
  opacity 0
  transition-property transform, opacity
  transition-duration .3s
  transition-timing-function ease
  transform translateX(0) scale(.9)
  @media(max-width: tablet-upper-limit)
    width 452px
    height 351px
  @media(max-width: mobile-upper-limit)
    width 75vw
    height 354px
    transform none
    position relative
    opacity 1!important
    flex 0 0 75vw
    max-width 320px
    &+&
      margin-left: 20px
  &--active
    @media(min-width: tablet-lower-limit)
      opacity 1
      transform translateX(0) scale(1)
      z-index 99
  &--next
    transform translateX(50%) scale(.9)
    opacity .5
    @media(max-width: tablet-upper-limit)
      transform translateX(30%) scale(.9)
    @media(max-width: mobile-upper-limit)
      transform none
  &--previous
    transform translateX(-50%) scale(.9)
    opacity .5
    @media(max-width: tablet-upper-limit)
      transform translateX(-30%) scale(.9)
    @media(max-width: mobile-upper-limit)
      transform none
  &--next-via-one
    transform translateX(50%) scale(.9)
    opacity 0
    @media(max-width: tablet-upper-limit)
      transform translateX(30%) scale(.9)
    @media(max-width: mobile-upper-limit)
      transform none
  &--previous-via-one
    transform translateX(-50%) scale(.9)
    opacity 0
    @media(max-width: tablet-upper-limit)
      transform translateX(-30%) scale(.9)
    @media(max-width: mobile-upper-limit)
      transform none

.custom-carousel
  height 560px
  width 100%
  padding 60px calc((100% - 566px) / 2)
  @media(max-width: tablet-upper-limit)
    height 431px
    padding 40px calc((100% - 452px) / 2)
  @media(max-width: mobile-upper-limit)
    display flex
    justify-content space-between
    flex-wrap nowrap
    flex-direction row
    width auto
    overflow-x auto
    height auto
    padding 0 10px 60px
    &:after
      content: ''
      min-width: 10px
      min-height: 100%
      display: block
      flex: 1
  &__paginator
    position absolute
    bottom 20px
    left 50%
    transform translateX(-50%)
    width auto
    margin 0 auto
    padding 0 10px
    display flex
    flex-direction row
    flex-wrap nowrap
    @media(min-width: tablet-lower-limit)
      display none
    &-item
      position relative
      width 10px
      height 10px
      border-radius 50%
      border 1px solid main-color
      box-sizing border-box
      &+&
        margin-left 20px
      &--active
        &:after
          position absolute
          content: ''
          top -6px
          left -6px
          border-radius 50%
          width 20px
          height 20px
          border 1px solid main-color

          box-sizing border-box
  &__nav-item
    width 50px
    height 50px
    background-color b2c-cool-grey
    border-radius 50%
    position absolute
    z-index 4
    top 50%
    transform translateY(-50%)
    cursor pointer
    opacity .5
    &:hover
      opacity 1
    @media(max-width: mobile-upper-limit)
      display none
  &__left
    left 50px
  &__right
    right 50px
  &__left-arrow,
  &__right-arrow
    position absolute
    top 50%
    left 50%
  &__left-arrow
    transform translateX(-50%) translateY(-50%) rotate(90deg)
  &__right-arrow
    transform translateX(-50%) translateY(-50%) rotate(-90deg)

.rt-container--mobile-full-width
  padding 0


.rt-forgame
  .rt-logo-co-branding
    height: 30px
  .rt-logo-co-branding__item
    padding-left: 0
    padding-right: 30px
    &+.rt-logo-co-branding__line+.rt-logo-co-branding__item
      padding-left: 20px


.forgame-games-header__item
  position: relative
  cursor: pointer

  &:hover
    &:before
      height: 3px
      bottom: -10px

  &:before
    content: ''
    position: absolute
    height: 0
    width: 100%
    background-color: #FF4F12
    bottom: -7px
    transition-timing-function cubic-bezier(.77,.34,.39,.77)
    transition-duration .2s
    transition-property height, bottom

.forgame-games-header__item--is-active
  &:before
    height: 3px
    bottom: -10px

.forgame-games-body__item
  display: none

.forgame-games-body__item--is-active
  display: block

.forgame-white-line
  padding-bottom: 10px
  border-bottom: 2px solid white

.forgame-green-line
  padding-bottom: 10px
  border-bottom: 2px solid #466E1B
  min-height: 55px

.forgame-day-icon
  width: 50px
  height: 50px

.pseudo-full-width
  background-color: #fff
  width: 100vw
  position: relative
  left: calc((100% - 100vw) / 2)
  .rt-slide__arrow #new-abonent
    fill #fff!important
.rt-forgame
  .rt-col-md-3
    @media (max-width: mobile-upper-limit)
      max-width: calc(100% - 30px)
  .pseudo-full-width
    background-color: rgba(27,40,65,0.5)

    //background linear-gradient(to bottom, rgba(main-color, 0) 0%,  rgba(main-color, .75) 100%)

.forgame-main-image
  @media (max-width: tablet-upper-limit)
    max-width: calc(50vw - 20px)
  @media (max-width: mobile-upper-limit)
    max-width: calc(100vw - 20px)

.rt-forgame-small-image
  @media (max-width: mobile-upper-limit)
    height: 50px


.rt-forgame-linege
  @media (max-width: mobile-upper-limit)
    min-height: 180px
.rt-forgame-linege-row
  @media (max-width: mobile-upper-limit)
    max-width: 80%

.partner-offers
  &__header
    .rt-col-10
      @media (max-width: tablet-upper-limit)
        margin-top 5px
    &-title
      width 570px
      height 53px
      @media (max-width: tablet-upper-limit)
        width 480px
        height 45px
      &-text
        position absolute
        font-size 52px
        top -15px
  &__back-link
    &-button
      width 50px
      height 50px
      background-color: #3e235a
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1)
      border-radius 50%
      position relative
    &-arrow
      position absolute
      top 50%
      left 50%
      transform translateY(-50%) translateX(-50%)
  .rt-logo__rt-text
    margin-left -1%
  &__card-image
    max-height 85px
    max-width 195px
    vertical-align middle
    @media (max-width: tablet-upper-limit)
      max-height 55px
      max-width 142px
  &__main-block
    .rt-card,
    .rt-card__content
      min-height auto
  .helper
    height 100%
    vertical-align middle
    display inline-block
  .rt-card__image-wrapper
    vertical-align: middle
    height 155px
    @media (max-width: tablet-upper-limit)
      height 105px
  .rt-card__body
    @media (max-width: tablet-upper-limit)
      padding 0 30px

  .rtk-carousel__inner
    width: calc((100vw - 140px)/1.2)
    max-width: calc(1340px/1.2)
    @media (max-width: tablet-upper-limit)
      width calc((100vw - 20px) / 1.2)
      overflow visible!important
      .rtk-carousel-slide:first-child
        margin-left: 0
    @media (max-width: mobile-upper-limit)
      width calc(100vw - 20px)
      flex-direction column
  .rtk-carousel.is-touch-device .rtk-carousel-slide
    max-width 100vw

.gradient-header
  background linear-gradient(to right, #2f0045, #1c2c4d)

.additional-possibilities
  //.rtk-carousel__inner
  //  width calc(100vw - 140px)
  //  max-width none
  .rt-card__image-wrapper
    width 100%
    height auto

.a-p__popup
  &-upper-text-block,
  &-image,
  &-benefit
    flex-basis calc(50% - 10px)
    &s-list
      flex-wrap wrap
  &-image
    background-repeat: no-repeat
    background-size: contain
    background-position: 50% 50%
  .rtb-popup
    padding 0

.tile-block
  display flex
  flex-direction row
  flex-wrap wrap
  .rt-card,
  .rt-card:hover
    box-shadow none//card-shadow--before-hovered
  &__ordered-item
    &--main
      @media (max-width: tablet-upper-limit)
        order -1
    &--secondary
      @media (max-width: tablet-upper-limit)
        order 1

.tile__item
  &+&
    margin-top 20px
  .additional-possibilities__card-image
    width 100%
    max-width 148px
  &--double-sized
    height 100%
    .additional-possibilities__card-image
      left -20px
      position relative
      margin-top 70px
      margin-bottom: 80px
      float left
      max-width: none
      width calc(100% + 40px)
      @media (max-width: tablet-upper-limit)
        max-width 700px
      @media (max-width: mobile-upper-limit)
        max-width none
    .rt-card,
    .rt-card__content
      height 100%

.rt-tabs
  .rt-card
    text-align left
    &--gradient-shadow:after
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      content ''
      background linear-gradient(to right, rgba(16, 24, 40, 0), rgba(16, 24, 40, 0.23) 17%, rgba(16, 24, 40, 0.67) 22%, rgba(16, 24, 40, 0.9) 42%, #101828 50%, #101828 100%)
      z-index 1
      @media (max-width: mobile-upper-limit)
        background linear-gradient(to bottom, rgba(16, 24, 40, 0), rgba(16, 24, 40, 0.23) 33%, rgba(16, 24, 40, 0.67) 63%, rgba(16, 24, 40, 0.9) 85%, #101828);

.with-icon
  position relative
  @media (max-width: tablet-upper-limit)
    margin-left 25px
  &:before
    position absolute
    content: ''
    background-image: url('/static/images/B2B/purple.svg')
    top 3px
    left -25px
    width 20px
    height 20px
