@require "~nib/lib/nib/reset.styl"

global-reset()

*
  box-sizing border-box

a
  text-decoration none

body
  word-break break-word

ol
  list-style decimal

select,
button,
input,
textarea
  font-size inherit

button
  color inherit
  background-color transparent
  border-width 0
  outline none
  padding 0
