* {
  box-sizing: border-box;
}
a{
  text-decoration: none
}
global-reset()
body{
  word-break: break-word;
}
ol{
  list-style: inherit
}
select, button, input, textarea {
  font-size: inherit;
}
button{
  padding: 0;
  border-width: 0;
  outline: none;
  background-color: transparent;
  color: inherit;
}
