json('../../lib/variables.json')
json('../../lib/color.json')


support-for-ie = false



@require "typography/index";
@require "components/index";
@require "reset.styl"
@require "promo";

.sticked-block {
  z-index: 10;
}
