json('../../lib/variables.json')
json('../../lib/color.json')

@require '~nib/lib/nib/index'
support-for-ie = false


@require "reset"
@require "typography/index";
@import "components/index";
@import "promo";

.sticked-block {
  z-index: 10;
}
