@font-face {
    font-family: "RT Fonts";
    src: url("../fonts/BasisGrotesquePro-Regular-Web.eot");
    src: url("../fonts/BasisGrotesquePro-Regular-Web.eot?#iefix") format("embedded-opentype"),
    url("../fonts/BasisGrotesquePro-Regular-Web.woff2") format("woff2"),
    url("../fonts/BasisGrotesquePro-Regular-Web.woff") format("woff"),
    url("../fonts/BasisGrotesquePro-Regular-Web.ttf") format("ttf");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "RT Fonts";
    src: url("/vue-stylekit/docs/fonts/BasisGrotesquePro-Light-Web.eot");
    src: url("/vue-stylekit/docs/fonts/BasisGrotesquePro-Light-Web.eot?#iefix") format("embedded-opentype"),
    url("/vue-stylekit/docs/fonts/BasisGrotesquePro-Light-Web.woff2") format("woff2"),
    url("/vue-stylekit/docs/fonts/BasisGrotesquePro-Light-Web.woff") format("woff"),
    url("/vue-stylekit/docs/fonts/BasisGrotesquePro-Light-Web.ttf") format("ttf");
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "RT Fonts";
    src: url("/vue-stylekit/docs/fonts/BasisGrotesquePro-Bold-Web.eot");
    src: url("/vue-stylekit/docs/fonts/BasisGrotesquePro-Bold-Web.eot?#iefix") format("embedded-opentype"),
    url("/vue-stylekit/docs/fonts/BasisGrotesquePro-Bold-Web.woff2") format("woff2"),
    url("/vue-stylekit/docs/fonts/BasisGrotesquePro-Bold-Web.woff") format("woff"),
    url("/vue-stylekit/docs/fonts/BasisGrotesquePro-Bold-Web.ttf") format("ttf");
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: "RT Fonts";
    src: url("/vue-stylekit/docs/fonts/BasisGrotesquePro-Medium-Web.eot");
    src: url("/vue-stylekit/docs/fonts/BasisGrotesquePro-Medium-Web.eot?#iefix") format("embedded-opentype"),
    url("/vue-stylekit/docs/fonts/BasisGrotesquePro-Medium-Web.woff2") format("woff2"),
    url("/vue-stylekit/docs/fonts/BasisGrotesquePro-Medium-Web.woff") format("woff"),
    url("/vue-stylekit/docs/fonts/BasisGrotesquePro-Medium-Web.ttf") format("ttf");
    font-style: normal;
    font-weight: 600;
}
